.profilePicsDataSmall {
    width: 300px;
}

.profileBox {     
    padding-top: 1em; 
}

.profileBox img
{
    padding-top: 0.55em;
    width: 80px;
}

.profileBox h2
{
    text-align: right;
}

.profileBox img, .profileBox h2
{
    padding-left: 2em;
    float: left;
}



.plans ul { 
    height: 406px; 
    background-color: #D5EEF2;
}

.plans > li { 
    margin: 1em;
    color: #00364D;
}

.plans > li:hover button {
    background-color: #5dcdec;
}

.planSpacer {
    height: 5px;
    background: white!important;
}

.plans #planRecommended ul li:first-child {
    background-color: #007DA6;
}

.plans #planJustCurious ul li:first-child {
    background-color: #3DBCDF;
}

.plans #planRefreshingly ul li:first-child, #planRefreshingly h2 {
    background-color: #96D9EE;
    color: #00364D;
}

#planRefreshingly ul > li:first-child img {
    display: inline-block; float: right; margin-top: -60px; margin-right: 50px;
}

.plans ul li {
    padding: 0.1em 1em;
    background-color: #D5EEF2;
}

.plans ul li h2 {
    font-size: 18px;
    color: White;
    padding: 0.2em 0em;
    font-family:"Segoe UI Semibold";
}

#planRecommended p, #planJustCurious p {
    font-family:"Segoe UI Semibold";
}

.plans .permissionsTip {
    font-size:10pt;
}

.plans .permissionsList {
    font-size:10pt;
    margin-top:2pt;
    font-style:italic;
}

.plansButtonWrapper {
    width: 100%;
    background-color: #D5EEF2;
}

.plans button {
    padding: 1em 2em;
    height: 100%;
    border: none;
    color: white;
}

#planRecommended button {
    background-color: #BE1E2D;
}

#planJustCurious button {
    background-color: #3DBCDF;
}

#userPictures, #userPhotos {
    display:block;
    overflow:hidden;
}

    #userPictures .userPicture, #userPhotos .userPicture {
        float:left;
        cursor:pointer;
    }

/* Search options */
#searchFilters {
    -ms-grid-columns: 500px 50px 400px;
    color: #007DA6;
}

#searchFilters h2 {
    font-size: 24px;
    color: #00364D;
}

#searchFilters ul {
    height: 450px;
}

#searchFilters ul li {
    margin-bottom: 20px
}

#buttonAddLikes {
    background-color: #3DBCDF;
    color: white;
    border: none;
    font-size:10pt;
}

#doSearch {
    background-color: #ED1C24;
    color: white;
    border: none;
    font-size:12pt;
}

#ageNum {
    border: 0;
    color: #666666;
    padding: 0;
}

#ageRange {
    width: 380px;
    margin-top: -10px;
}

/* Search results */
#search {
    -ms-grid-columns: auto;
    -ms-grid-rows: auto;
}

#searchResults {
    min-width: 720px;
}

