/* Search options */
#searchFilters {
    -ms-grid-columns: 500px 50px 400px;
    color: #007DA6;
}

#searchFilters h2 {
    font-size: 24px;
    color: #00364D;
}

#searchFilters ul {
    height: 450px;
}

#searchFilters ul li {
    margin-bottom: 20px
}

#buttonAddLikes {
    background-color: #3DBCDF;
    color: white;
    border: none;
    font-size:10pt;
}

#ageNum {
    border: 0;
    color: #666666;
    padding: 0;
}

#ageRange {
    width: 380px;
    margin-top: -10px;
}

/* Search results */
#search {
    -ms-grid-columns: auto;
    -ms-grid-rows: auto;
}

#searchResults {
    min-width: 720px;
}

