<!DOCTYPE HTML>
<html>
<head>
<title>Instasoda</title>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
<style>
  h2{
    font-family: 'Shanti', sans-serif;
  }
</style>

</head>
<body>

  <!-- ===================================================================== -->
	<!-- ==== Matches / Recent updates ==== -->
	<!-- ===================================================================== -->
	<div data-role="page" id="updates" class="page">
		<div data-role="header" data-position="inline">
			<h1>instasoda</h1>
		</div>
		<!-- /header -->

		<div data-role="content">
      
      <div id="updatesMatches">
        <div class="ui-grid-b">
          <div class="ui-block-a"><img class="" src="../api/images/10.png"></div>
          <div class="ui-block-b"><img class="" src="../api/images/9.png"></div>
          <div class="ui-block-c"><img class="" src="../api/images/8.png"></div>
          <div class="ui-block-a"><img class="" src="../api/images/7.png"></div>
          <div class="ui-block-b"><img class="" src="../api/images/6.png"></div>
          <div class="ui-block-c"><img class="" src="../api/images/5.png"></div>
        </div>
      </div>
      
      <div id="updatesRecent">
        <h2>Recent updates</h2>
        <ul data-role="listview" data-theme="d">
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/1.png">
              <h3 class="ui-li-heading">Jill, 29</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">13 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/2.png">
              <h3 class="ui-li-heading">Kate, 28</h3>
              <p class="ui-li-desc">She checked you out a few minutes ago. </p>
              <p class="ui-li-aside ui-li-desc">15 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/3.png">
              <h3 class="ui-li-heading">Nancy, 27</h3>
              <p class="ui-li-desc">She wants to meet. </p>
              <p class="ui-li-aside ui-li-desc">48 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/4.png">
              <h3 class="ui-li-heading">Dianna, 31</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">1 hour ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/5.png">
              <h3 class="ui-li-heading">Rose, 28</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">3 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/6.png">
              <h3 class="ui-li-heading">Betty, 30</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">5 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/7.png">
              <h3 class="ui-li-heading">Candy, 26</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">9 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/8.png">
              <h3 class="ui-li-heading">Mary, 28</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">14 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/9.png">
              <h3 class="ui-li-heading">Michelle, 26</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">Yesterday</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/10.png">
              <h3 class="ui-li-heading">Lisa, 29</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">Yesterday</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/1.png">
              <h3 class="ui-li-heading">Jill, 29</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">13 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/2.png">
              <h3 class="ui-li-heading">Kate, 28</h3>
              <p class="ui-li-desc">She checked you out a few minutes ago. </p>
              <p class="ui-li-aside ui-li-desc">15 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/3.png">
              <h3 class="ui-li-heading">Nancy, 27</h3>
              <p class="ui-li-desc">She wants to meet. </p>
              <p class="ui-li-aside ui-li-desc">48 minutes ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/4.png">
              <h3 class="ui-li-heading">Dianna, 31</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">1 hour ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/5.png">
              <h3 class="ui-li-heading">Rose, 28</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">3 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/6.png">
              <h3 class="ui-li-heading">Betty, 30</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">5 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/7.png">
              <h3 class="ui-li-heading">Candy, 26</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">9 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/8.png">
              <h3 class="ui-li-heading">Mary, 28</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">14 hours ago</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/9.png">
              <h3 class="ui-li-heading">Michelle, 26</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">Yesterday</p>
            </a>
          </li>
          <li>
            <a href="user.html">
              <img class="ui-li-thumb" src="../api/images/10.png">
              <h3 class="ui-li-heading">Lisa, 29</h3>
              <p class="ui-li-desc">She joined Instasoda near you. </p>
              <p class="ui-li-aside ui-li-desc">Yesterday</p>
            </a>
          </li>
        </ul>
      </div>
      
		</div>
		<!-- /content -->

	</div>
  
	<!-- ===================================================================== -->
	<!-- ==== DASHBOARD ==== -->
	<!-- ===================================================================== -->
	<div data-role="page" id="dashboard" class="page">
		<div data-role="header" data-position="fixed">
			<h1>instasoda</h1>
		</div>
		<!-- /header -->

		<div data-role="content">
			<p>Dashboard</p>
		</div>
		<!-- /content -->

		<a data-role="footer" data-position="fixed" href="#notifications" data-transition="slideup">
			<h4>Notifications</h4>
		</a>
		<!-- /footer -->
	</div>
	
	
	<!-- ===================================================================== -->
	<!-- ==== NOTIFICATIONS ==== -->
	<!-- ===================================================================== -->
	<div data-role="page" id="notifications" class="page" data-position="fixed">
		<a data-role="header" data-position="fixed" href="#dashboard" data-transition="slidedown">
			<h1>Notifications</h1>
		</a>

		<div data-role="content">
			<p>Kostas send you a message.</p>
		</div>
		
	</div>


</body>
</html>