/* COLOURS
 * #3BBDE2
 * #007CA6
 * #00344C
 * 
 * #DF2027
 * #BE1D2C
 */


/*===============================
 * RESET STYLES
 ===============================*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline:none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
/*===============================
 * GENERAL STYLES
 ===============================*/
  
  html{
    height:100%;
  }
  body{
    font-family: arial,sans-serif;
    font-weight:300;
    font-size:62.5%;
    overflow:hidden;
    height:100%;
    
    background: #007CA5;
    background: -moz-linear-gradient(#55BEE5 400px, #007CA5 700px);
    background: -webkit-linear-gradient(#55BEE5 400px, #007CA5 700px);
    background: -o-linear-gradient(#55BEE5 400px, #007CA5 700px);
    background: linear-gradient(#55BEE5 400px, #007CA5 700px);
  }
	
	
/*===============================
 * NAVIGATION
 ===============================*/
 
  nav{
    width:100%;
    height:50px;
    border-bottom:1px solid #007CA5;
    background:#fff;
    font-size:1.5em;
    font-weight:700;
    position:relative;
    line-height:50px;
    z-index:3;
  }
    nav > ul{
      display:block;
      max-width:990px;
      margin:0 auto;
      height:100%;
      position:relative;
    }
    nav > ul > li{
      float:left;
    }
    nav > ul > ul{
      float:left;
      height:50px;
      margin-left:20px;
      overflow:hidden;
    }
      nav > ul > ul > li{
        display:inline-block;
      }
        nav > ul > ul > li > a{
          display:block;
          padding:0 10px;
          color:#007CA5;
          cursor:pointer;
        }
          nav > ul > ul > li > a.current,
          nav > ul > ul > li > a:hover{
            text-decoration:underline;
          }
    nav aside{
      position:absolute;
      top:5px;
      right:0;
    }
      nav .shareFB,
      nav .shareTW,
      nav .shareGP {
        position: absolute;
        top: 0px;
      }
      nav .shareFB {
        right: 155px;
      }
      nav .shareTW {
        right: 60px;
        width: 90px;
      }
      nav .shareGP {
        right: 0px;
        width: 60px;
      }
    nav #instasodaLogo{
      background:url(images/instasoda_logo.png) top left no-repeat;
      width:166px;
      height:29px;
      margin:10px 0;
      display:block;
    }
    
    
/*===============================
 * MAIN CONTENT
 ===============================*/
	
  #mainContent{
	 width:990px;
	 margin:50px auto 0;
	 position:relative;  
	}
	 #mainContent > .instasodaLogo{
	   position:relative;
	   margin-left:-200px;  
	   z-index:2;
	 }
	 #mainContent .instasodaBubbles{
	   position:absolute;
	   top:-130px;
	   left:-110px;
	 }
	 #mainContent .instasodaSocialDating{
	   position:absolute;
	   bottom:20px;
	   right:0;
	 }
	 
	 
/*===============================
 * ANIMATED BUBBLES
 ===============================*/
	
  #bubbles {
    width: 100%;
    height: 450px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin-top:-50px;
  }
  .bubble {
    display: block;
    position: absolute;
    background:url(images/bubble1.png) top left no-repeat transparent;
    left: 0;
    top:350px;
    width: 39px;
    height: 40px;
    opacity:0;
    
    -webkit-animation: slide 10s ease-in infinite;
    -moz-animation: slide 10s ease-in-out infinite;
    -ms-animation: slide 10s ease-in infinite;
    -o-animation: slide 10s ease-in infinite;
    animation: slide 10s ease-in infinite;
  }
    .bubble:nth-child(odd) {
      background:url(images/bubble2.png) top left no-repeat transparent;
      width: 38px;
      height: 38px;
    }
      
      
  /*===============================
   * KEYFRAMES
   ===============================*/
        
    @-webkit-keyframes slide {
        0% {
            opacity:0;
            left:20px;
        }
        20%{
          opacity:1;
        }
        100% {
            top:0px;
            left:650px;
            opacity:0;
        }
    }
    @-moz-keyframes slide {
        0% {
            opacity:0;
            left:20px;
        }
        20%{
          opacity:1;
        }
        100% {
            top:0px;
            left:650px;
            opacity:0;
        }
    }
    @-ms-keyframes slide {
        0% {
            opacity:0;
            left:100px;
        }
        100% {
            top:-50px;
            left:700px;
            opacity:1;
        }
    }
    @keyframes slide {
        0% {
            opacity:0;
            left:100px;
        }
        100% {
            top:-50px;
            left:700px;
            opacity:1;
        }
    }
  
  
  /*===============================
   * INDIVIDUAL BUBBLE STYLE
   ===============================*/
  
    .bubble:nth-child(1){ margin-left:0px; }
    .bubble:nth-child(2){ margin-left:250px; }
    .bubble:nth-child(3){ margin-left:120px; }
    .bubble:nth-child(4){ margin-left:-130px; }
    .bubble:nth-child(5){ margin-left:40px; }
    .bubble:nth-child(6){ margin-left:150px; }
    .bubble:nth-child(7){ margin-left:-60px; }
    .bubble:nth-child(8){ margin-left:170px; }
    .bubble:nth-child(9){ margin-left:-80px; }
    .bubble:nth-child(10){ margin-left:90px; }
    .bubble:nth-child(11){ margin-left:20px; }
    .bubble:nth-child(12){ margin-left:0px; }
    .bubble:nth-child(13){ margin-left:-50px; }
    .bubble:nth-child(14){ margin-left:20px; }
    .bubble:nth-child(15){ margin-left:130px; }
    .bubble:nth-child(16){ margin-left:40px; }
    .bubble:nth-child(17){ margin-left:-50px; }
    .bubble:nth-child(18){ margin-left:60px; }
    .bubble:nth-child(19){ margin-left:170px; }
    .bubble:nth-child(20){ margin-left:80px; }
    
    
    .bubble:nth-child(1) {
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -o-animation-delay: 0s;
      animation-delay: 0s;
      
      -moz-transform: scale(0.7);
      -webkit-transform: scale(0.7);
    }
    .bubble:nth-child(2) {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      -ms-animation-delay: 0.5s;
      -o-animation-delay: 0.5s;
      animation-delay: 0.5s;
      
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
    }
    .bubble:nth-child(3) {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s;
    }
    .bubble:nth-child(4) {
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
      -ms-animation-delay: 1.5s;
      -o-animation-delay: 1.5s;
      animation-delay: 1.5s;
      
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
    }
    .bubble:nth-child(5) {
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      -ms-animation-delay: 2s;
      -o-animation-delay: 2s;
      animation-delay: 2s;
    }
    .bubble:nth-child(6) {
      -webkit-animation-delay: 2.5s;
      -moz-animation-delay: 2.5s;
      -ms-animation-delay: 2.5s;
      -o-animation-delay: 2.5s;
      animation-delay: 2.5s;
    }
    .bubble:nth-child(7) {
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      -ms-animation-delay: 3s;
      -o-animation-delay: 3s;
      animation-delay: 3s;
      
      -moz-transform: scale(0.8);
      -webkit-transform: scale(0.8);
    }
    .bubble:nth-child(8) {
      -webkit-animation-delay: 3.5s;
      -moz-animation-delay: 3.5s;
      -ms-animation-delay: 3.5s;
      -o-animation-delay: 3.5s;
      animation-delay: 3.5s;
    }
    .bubble:nth-child(9) {
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
      -ms-animation-delay: 4s;
      -o-animation-delay: 4s;
      animation-delay: 4s;
      
      -moz-transform: scale(0.7);
      -webkit-transform: scale(0.7);
    }
    .bubble:nth-child(10) {
      -webkit-animation-delay: 4.5s;
      -moz-animation-delay: 4.5s;
      -ms-animation-delay: 4.5s;
      -o-animation-delay: 4.5s;
      animation-delay: 4.5s;
    }
    .bubble:nth-child(11) {
      -webkit-animation-delay: 5s;
      -moz-animation-delay: 5s;
      -ms-animation-delay: 5s;
      -o-animation-delay: 5s;
      animation-delay: 5s;
      
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
    }
    .bubble:nth-child(12) {
      -webkit-animation-delay: 5.5s;
      -moz-animation-delay: 5.5s;
      -ms-animation-delay: 5.5s;
      -o-animation-delay: 5.5s;
      animation-delay: 5.5s;
    }
    .bubble:nth-child(13) {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -ms-animation-delay: 6s;
      -o-animation-delay: 6s;
      animation-delay: 6s;
      
      -moz-transform: scale(0.7);
      -webkit-transform: scale(0.7);
    }
    .bubble:nth-child(14) {
      -webkit-animation-delay: 6.5s;
      -moz-animation-delay: 6.5s;
      -ms-animation-delay: 6.5s;
      -o-animation-delay: 6.5s;
      animation-delay: 6.5s;
    }
    .bubble:nth-child(15) {
      -webkit-animation-delay: 7s;
      -moz-animation-delay: 7s;
      -ms-animation-delay: 7s;
      -o-animation-delay: 7s;
      animation-delay: 7s;
      
      -moz-transform: scale(0.7);
      -webkit-transform: scale(0.7);
    }
    .bubble:nth-child(16) {
      -webkit-animation-delay: 7.5s;
      -moz-animation-delay: 7.5s;
      -ms-animation-delay: 7.5s;
      -o-animation-delay: 7.5s;
      animation-delay: 7.5s;
    }
    .bubble:nth-child(17) {
      -webkit-animation-delay: 8s;
      -moz-animation-delay: 8s;
      -ms-animation-delay: 8s;
      -o-animation-delay: 8s;
      animation-delay: 8s;
    }
    .bubble:nth-child(18) {
      -webkit-animation-delay: 8.5s;
      -moz-animation-delay: 8.5s;
      -ms-animation-delay: 8.5s;
      -o-animation-delay: 8.5s;
      animation-delay: 8.5s;
      
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
    }
    .bubble:nth-child(19) {
      -webkit-animation-delay: 9s;
      -moz-animation-delay: 9s;
      -ms-animation-delay: 9s;
      -o-animation-delay: 9s;
      animation-delay: 9s;
    }
    .bubble:nth-child(20) {
      -webkit-animation-delay: 9.5s;
      -moz-animation-delay: 9.5s;
      -ms-animation-delay: 9.5s;
      -o-animation-delay: 9.5s;
      animation-delay: 9.5s;
    }
  
   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

