#block-likes, #likesResults {
    li {
        list-style: none;
    }

    h1, h2, h3, span {
        display: inline-block;
        color: #505050;
    }

    .secondary-block, .row {
        margin-top: -10px;
        min-height: 190px;
        .columns {
            padding: 0 10px 0 20px;
            min-height: 150px;
            p {
                width: 100px;
                height: 40px;
                min-width: 100px;
                margin: 0 0 7px 0;
                @include font-size(12);
                color: #585858;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            img {
                width: 100px;
                height: 100px;
                min-width: 100px;
            }
        }
    }

    > div > span {
        @include font-size(24, true);
    }

    #like-block-favourites .mobile-one, #like-block-dislikes .mobile-one {
        min-width: 110px;
    }

    .like-type-label {
        margin-bottom: 10px;
        h2 {
            display: inline-block;
            @include font-size(14, false);
            font-weight: 400;
        }
        span {
            position: relative;
            padding-right: 3px;
            @include font-size(18, false, 1.2);
        }
        .icon-star { color: orange; }
        .icon-thumbs-down { top: -3px; color: #888; }
    }
}