.isGrid                 { display: -ms-grid; }
.hasAutoRows            { -ms-grid-rows: auto; }
.isRightAligned         { -ms-grid-column-align: right; }
.hasNoSpan              { -ms-grid-column-span: 1; -ms-grid-row-span: 1; }
.has2ColumnSpan         { -ms-grid-column-span: 2; }
.has2ColumnsOf2fr       { -ms-grid-columns: 2fr 2fr; }
.has3ColumnsOf3fr       { -ms-grid-columns: 3fr 3fr 3fr; }
.has1RowOf1fr           { -ms-grid-rows: 1fr; }
.isColumn1              { -ms-grid-column: 1; }
.isColumn2              { -ms-grid-column: 2; }
.isColumn3              { -ms-grid-column: 3; }
.isRow1                 { -ms-grid-row: 1 }
.isRow2                 { -ms-grid-row: 2 }
.hasNoLeftPadding       { padding-left: 0!important; }
.hasLeftPadding         { padding-left: 116px; }
.addExtraLeftPadding    { padding-left: 250px; }
.isAnimated             { -ms-transition-property: all; -ms-transition-duration: 0.5s;}
.hasEasing              { -ms-transition-timing-function: ease-in-out; }
.isNotVisible           { opacity: 0; }
ul, li                  { list-style: none; }
ul, li, h2              { margin: 0; padding: 0; }

#settings
{
    -ms-grid-columns: auto;
}

.profileBox {     
    padding-top: 1em; 
}

.profileBox img
{
    padding-top: 0.55em;
    width: 80px;
}

.profileBox h2
{
    text-align: right;
}

.profileBox img, .profileBox h2
{
    padding-left: 2em;
    float: left;
}

.plans
{  
    margin: 3em 0 0 -3.5em;
}

.plans > li { 
    margin: 1em;
    border: 1px solid #96D9EE;
}

.plans > li:hover {
    border: 1px solid #3DBCDF;
}

.plans > li:hover button {
    background-color: #5dcdec;
}

.plans ul {
    text-align: center;
}

.plans ul li {   
    padding: 0.5em 3em;
    text-align: center;
}

.plans ul li h2 {
    margin-top: 1em;
}

.plans button {
    padding: 1em 2em;
    margin: 1.5em auto 2.5em auto;
    background-color: #3DBCDF;
    border: 2px solid white;
    outline: 1px solid #96D9EE;
    color: white;
}

#facebookData
{
    padding-left: 116px;
}

#userPictures {
    display:block;
    position:relative;
    clear:right;
    overflow:hidden;
}

    #userPictures .userPicture {
        float:left;
        width:100px;
        height:100px;
        overflow:hidden;
        margin:0 1em 1em 0;
    }

#facebookLikesContainer {
    display: none;
}

.facebookLikesItem {
    float: left;
}

.facebookLikesItemName {
    font-size:11px;
    width:80px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plans button:active {
    box-shadow: 0px 0px 15px 0 #007DA6 inset;   
}

@media screen and (-ms-view-state: snapped) {
    .homePage section[role=main] {
        margin-left: 20px;
    }
}