/* COLOURS
 * Blue (light to dark)
 * #3BBDE2
 * #007CA6
 * #00344C
 *
 * Red
 * #DF2027
 * #BE1D2C
 */


/********************************
 * RESET STYLES
 ********************************/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    outline:none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section{
    display:block;
  }
  body{
  }
  ol, ul{
    list-style:none;
  }
  blockquote, q{
    quotes:none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after{
    content:'';
    content:none;
  }
  table{
    border-collapse:collapse;
    border-spacing:0;
  }


/********************************
 * STYLES
 ********************************/

	body{
		background:url("img/bg.png") repeat;
	  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	  font-weight:300;
	  font-size:62.5%;
	}

	#container{
		margin:20px;
    overflow:hidden;
	}

/********************************
 * BUTTONS
 ********************************/

	.button, input[type=button], input[type=submit], button{
		text-decoration: none;
    margin: 5px 10px;
		cursor:pointer;
		outline:none;
		color:#FFF;
		font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
		display:inline-block;
		vertical-align:top;
		position:relative;
		font-size:16px;
		font-weight:bold;
		text-align:center;
    background:#BE1D2C;
    border:none;
    padding: 5px 20px;
		/** Make the text unselectable **/
		-moz-user-select:none;
		-webkit-user-select:none;
	}


/********************************
 * HEADER
 ********************************/

nav{
		background:#FFFFFF;
    box-shadow:0 0 20px #888;
    font-size:2em;
    font-weight:700;
    height:70px;
    line-height:70px;
    position:relative;
    width:100%;
    z-index:4;
    font-family:"futura-pt";
    font-weight:500;
}
nav > ul{
    display:block;
    height:100%;
    margin-left:10px;
    position:relative;
}
nav > ul > li{
    float: left;
}
nav > ul > ul{
    float:left;
    height:70px;
    margin-left:20px;
    overflow:hidden;
}
nav > ul > ul > li{
    display:inline-block;
}
nav > ul > ul > li > a{
    color:#033349;
    cursor:pointer;
    padding:2px 10px 3px;
    text-decoration:none;
    border-radius:3px;
    border:1px solid #fff;
    margin-right:10px;
}
nav > ul > ul > li > a.current , nav > ul > ul > li > a:hover{
    background:#033349;
    border:1px solid #333;
    color:#ffffff;
}
nav aside{
    position:absolute;
    right:20px;
    top:6px;
}
nav .shareFB, nav .shareTW, nav .shareGP{
    position:absolute;
    top:0;
}
nav .shareFB{
    right:165px;
}
nav .shareTW{
    right:70px;
    width:90px;
}
nav .shareGP{
    right:10px;
    width:60px;
}
nav #instasodaLogo {
    background:url("http://instasoda.com/area51/productdemo3/images/instasoda_logo.png") no-repeat left top;
    display:block;
    height:29px;
    margin:21px 0 0 15px;
    width:166px;
}

/********************************
 * ARTICLES
 ********************************/

	article.item{
	  float:left;
	  padding:10px;
		background:#fff;
		width:300px;
		height:300px;
		margin:10px;
    border-radius:3px;
    border:1px solid #ddd;
    box-shadow:0 2px 3px -3px #666;
	}
		article.item:hover{
			cursor:pointer;
		}

	article.item h1, #articleFullView h1, .storyForm h1{
		font-size:2em;
	}

	article.item cite, #articleFullView cite{
		font-size:1.2em;
	}

	article.item span p, #articleFullView span p{
		font-size:1.5em;
		padding:10px 0;
	}

	.storyForm{
		background: url(img/submit_bg.png) no-repeat 0 -100px!important;
    border: 1px solid #ff9e9e;
		cursor:default !important;
    float:left;
    padding:10px;
    width:300px;
    height:300px;
    margin:10px;
    border-radius:3px;
    box-shadow:0 2px 3px -3px #666;
	}
    .storyForm h1{
      padding-left:10px;
    }

  .commentForm{
    margin:-10px 0 -20px;
  }
    .commentForm h1{
      padding-bottom:10px;
    }
    .commentForm textarea{
      width:695px;
      min-width:695px;
      height:100px;
      resize:none;
    }
    .commentForm button{
      margin:20px 0;
    }

	.doubleX{
		width: 642px!important;
	}
/********************************
 * TEXT EDITOR
 ********************************/

	.rte-zone{
		width:600px;
	  max-width:600px;
	  margin:10px;
	  padding:10px;
	  border-top:1px solid #ccc;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	  border-bottom:1px solid #eee;
	  clear:both;
	  height:180px;
	  max-height:180px;
	  display:block;
	  resize: none;
	  box-shadow:0px 2px 4px #ddd inset;
	  background:rgba(255,255,255,0.7);
	}
	.storyNickname{
		margin:0 0 0 10px;
		padding:0 0.5em;
		width:13em;
		height:2em;
	  border-top:1px solid #ccc;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	  border-bottom:1px solid #eee;
		box-shadow:0px 2px 4px #ddd inset;
	}

/********************************
 * ARTICLE - FULL VIEW
 ********************************/

	#articleFullView{
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
		z-index:999;
    overflow-y:scroll;
	}
    #curtain{
      background:rgba(255,255,255,0.8);
      position:fixed;
      top:0;
      left:0;
      right:16px;
      bottom:0;
      z-index:999;
      cursor:pointer;
    }

    #articleFullView > article > .closeStory{
      position:absolute;
      right:-1px;
      top:-1px;
      background:#333;
      color:#fff;
      font-family:"georgia", "times new roman", serif;
      font-style:italic;
      font-size:1.9em;
      font-weight:bold;
      padding:4px 20px 6px;
      border-bottom-left-radius:8px;
      cursor:pointer;
    }

    .fullViewSeparator{
      height:1px;
      background:#BE1D2C;
      margin:20px 0 25px;
    }

    #articleFullView > article > .widget{
      position:absolute;
      right:-68px;
      top:0;
      width: 48px;
      margin-top: 32px;
      background:#BE1D2C;
      color:#fff;
      font-family:"georgia", "times new roman", serif;
      font-style:italic;
      font-size:1.9em;
      font-weight:bold;
      padding:0 10px;
      border-bottom-right-radius:8px;
      border-top-right-radius:8px;
      box-shadow:8px 0px 12px -7px rgba(34, 25, 25, 0.8) inset;
      cursor:pointer;
    }

    #articleFullView > article{
      padding:20px 30px;
      background:#fff;
      height:auto;
      left:50%;
      position:absolute;
      top:2em;
      width:700px;
      z-index:999;
      margin-left:-350px;
      border:1px solid #ddd;
    }
      #articleFullView > article > h1{
        font-size:2.4em;
      }
      #articleFullView > article > span > p{
        font-size:1.8em;
      }
      #articleFullView > article > #comments{
        margin:5px 0 10px;
        display:block;
        overflow:hidden;
      }
      #articleFullView > article > #comments .newComment{
        display:none;
      }
      #articleFullView > article > #comments .noComments{
        display:block;
        font-size:1.5em;
        margin-bottom:20px;
      }
        #articleFullView > article > #comments p{
          margin:10px 0 20px;
          background:#fff;
          overflow:hidden;
          cursor: default;
        }
          #articleFullView > article > #comments p:hover{
            background:#f5f5f5;
          }
          #articleFullView > article > #comments p > span{
            float:left;
            padding: 5px 10px;
            font-size:1.2em;
          }
            #articleFullView > article > #comments p > span strong{
              font-weight: bold;
            }
