/* COLOURS
 * #3BBDE2
 * #007CA6
 * #00344C
 *
 * #DF2027
 * #BE1D2C
 */


/********************************
 * RESET STYLES
 ********************************/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline:none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/********************************
 * STYLES
 ********************************/

	body{
		background: url("img/bg.png") repeat;
	  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	  font-weight:300;
	  font-size:62.5%;
	}

	#container{
		margin:20px;
    overflow:hidden;
	}

/********************************
 * BUTTONS
 ********************************/

	.button, input[type=button], input[type=submit], button {
		text-decoration: none;
		border-color:#888;
		border-color:rgba(0, 0, 0, 0.56);
		cursor: pointer;
		outline: none;
		color:#111;
		font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
		display:inline-block;
		vertical-align:top;
		position:relative;
		font-size:12px;
		font-weight:bold;
		text-align:center;
		background-color:#aaa;
		background-image:url(gradient.png);
		background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
		background-image: -o-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
		background-image: linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
		background-repeat:repeat-x;
		text-shadow:1px 1px 0 rgba(255,255,255,.67);
		line-height:2;
		margin:0 0 2em 1em;
		padding:0 1em;
		height:2em;
		-moz-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
		-webkit-box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
		box-shadow:1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset;
		-webkit-transition: background .185s linear;
		-moz-transition: all .185s linear;
		-o-transition: all .185s linear;
		transition: all .185s linear;
		/** Make the text unselectable **/
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	.button, .button:after, button, button:after, input[type=submit], input[type=button] {
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		border-width:1px;
		border-style:solid;

	}
	.button:after, button:after{
		display:block;
		position:absolute;
		content:' ';
		width:100%;
		height:100%;
		border-color: transparent transparent #ccc;
		border-color: transparent transparent rgba(255, 255, 255, 0.67);
		bottom:-2px;
		left:-1px;
	}
	.button:hover, .button:focus, button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus {
		background-color:#ccc;
	}
	.button:active, button:active, input[type=submit]:active, input[type=button]:active {
		line-height:2.2;
		-moz-box-shadow
			:0 .33em 1em rgba(0,0,0,.67) inset,
			1px 1px 0 rgba(255,255,255,.25) inset,
			-1px -1px 0 rgba(255,255,255,.25) inset;
		-webkit-box-shadow:
			0 .33em 2em rgba(0,0,0,.67) inset,
			1px 1px 0 rgba(255,255,255,.25) inset,
			-1px -1px 0 rgba(255,255,255,.25) inset;
		box-shadow:
			0 .33em 2em rgba(0,0,0,.67) inset,
			1px 1px 0 rgba(255,255,255,.25) inset,
			-1px -1px 0 rgba(255,255,255,.25) inset;
			-webkit-transition: line-height .1s linear;
			-moz-transition: all .1s linear;
			-o-transition: all .1s linear;
			transition: all .1s linear;
	}
	.button.bg, .button.bg:hover, .button.bg:focus {
		background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
	}


/********************************
 * HEADER
 ********************************/

nav {
		background: #FFFFFF;
    box-shadow: 0 0 20px #888;
    font-size: 2em;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    position: relative;
    width: 100%;
    z-index: 4;
    font-family: "futura-pt";
    font-weight: 500;
}
nav > ul {
    display: block;
    height: 100%;
    margin-left: 10px;
    position: relative;
}
nav > ul > li {
    float: left;
}
nav > ul > ul {
    float: left;
    height: 70px;
    margin-left: 20px;
    overflow: hidden;
}
nav > ul > ul > li {
    display: inline-block;
}
nav > ul > ul > li > a {
    color: #033349;
    cursor: pointer;
    padding: 2px 10px 3px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-right: 10px;
}
nav > ul > ul > li > a.current , nav > ul > ul > li > a:hover {
    background: #033349;
    border: 1px solid #333;
    color: #ffffff;
}
nav aside {
    position: absolute;
    right: 20px;
    top: 6px;
}
nav .shareFB, nav .shareTW, nav .shareGP {
    position: absolute;
    top: 0;
}
nav .shareFB {
    right: 165px;
}
nav .shareTW {
    right: 70px;
    width: 90px;
}
nav .shareGP {
    right: 10px;
    width: 60px;
}
nav #instasodaLogo {
    background: url("http://instasoda.com/area51/productdemo3/images/instasoda_logo.png") no-repeat left top;
    display: block;
    height: 29px;
    margin: 21px 0 0 15px;
    width: 166px;
}

/********************************
 * ARTICLES
 ********************************/

	article.item{
	  float: left;
	  padding: 10px;
		background:#fff;
		width:300px;
		height:300px;
		margin:10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px -3px #666;
	}
		.item:hover{
			cursor:pointer;
		}

	article.item h1, #articleFullView h1{
		font-size: 2em;
	}

	article.item cite, #articleFullView cite{
		font-size: 1.2em;
	}

	article.item span p, #articleFullView span p{
		font-size: 1.5em;
		padding: 10px 0;
	}

	.storyBox{
		background: url(img/submit_bg.png) no-repeat 0 -100px!important;
    border: 1px solid #ff9e9e!important;
		cursor:default !important;
	}
    .storyBox h1{
      padding-left: 10px;
    }

	.doubleX{
		width: 642px!important;
	}
/********************************
 * TEXT EDITOR
 ********************************/

	.rte-zone{
		width:600px;
	  max-width:600px;
	  margin:10px;
	  padding:10px;
	  border-top:1px solid #ccc;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	  border-bottom:1px solid #eee;
	  clear:both;
	  height:210px;
	  max-height:210px;
	  display:block;
	  resize: none;
	  box-shadow:0px 2px 4px #ddd inset;
	  background:rgba(255,255,255,0.7);
	}
	.storyNickname{
		margin:0 0 0 10px;
		padding:0 0.5em;
		width:13em;
		height:2em;
	  border-top:1px solid #ccc;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	  border-bottom:1px solid #eee;
		box-shadow:0px 2px 4px #ddd inset;
	}

/********************************
 * ARTICLE - FULL VIEW
 ********************************/

	#articleFullView{
    display: none;
		padding: 10px;
    background:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
		z-index:999;
		margin-left:-380px;
    border-radius:3px;
		box-shadow:0 20px 20px -20px #000000;
	}

  #articleFullView > article{
    padding: 10px;
    background:#fff;
    height:auto;
    left:50%;
    position:fixed;
    top:12em;
    width:780px;
    z-index:999;
    margin-left:-380px;
    border-radius:3px;
    box-shadow:0 20px 20px -20px #000000;
  }
