/* COLOURS
 * Blue (light to dark)
 * #3BBDE2
 * #007CA6
 * #00344C
 *
 * Red
 * #DF2027
 * #BE1D2C
 */


/********************************
 * RESET STYLES
 ********************************/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    outline:none;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section{
    display:block;
  }
  body{
  }
  ol, ul{
    list-style:none;
  }
  blockquote, q{
    quotes:none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after{
    content:'';
    content:none;
  }
  table{
    border-collapse:collapse;
    border-spacing:0;
  }


/********************************
 * STYLES
 ********************************/

	body{
    /*background:url("img/bg.png") repeat;
    */
    background: -webkit-linear-gradient(#55BEE5 0%, #007CA5 90%) no-repeat;
    background: -moz-linear-gradient(#55BEE5 0%, #007CA5 90%) no-repeat;
    background: -o-linear-gradient(#55BEE5 0%, #007CA5 90%) no-repeat;
    background: -ms-linear-gradient(#55BEE5 0%, #007CA5 90%) no-repeat;
    background: linear-gradient(#55BEE5 0%, #007CA5 90%) no-repeat;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight:300;
    font-size:62.5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #wrapper{
    margin:0 auto;
    position:relative;
  }
	#container{
    margin:0 auto;
    padding:20px;
    padding-left:30px;
    overflow:hidden;
    background: url(img/bubbles.png) no-repeat top center;
	}

/********************************
 * BUTTONS
 ********************************/

	.button, input[type=button], input[type=submit], button{
		text-decoration: none;
    margin: 5px 10px;
		cursor:pointer;
		outline:none;
		color:#FFF;
		font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
		display:inline-block;
		vertical-align:top;
		position:relative;
		font-size:16px;
		font-weight:bold;
		text-align:center;
    background:#BE1D2C;
    border:none;
    height:40px;
    padding: 0px 20px;
		/** Make the text unselectable **/
		-moz-user-select:none;
		-webkit-user-select:none;
	}


/********************************
 * HEADER
 ********************************/

nav{
		background:#FFFFFF;
    /*box-shadow:0 0 20px #888;*/
    box-shadow:0 0 40px rgba(0, 52, 76, 0.7);
    font-size:2em;
    font-weight:700;
    height:70px;
    line-height:70px;
    position:relative;
    width:100%;
    z-index:4;
    font-weight:500;
}
nav > ul{
    display:block;
    height:100%;
    margin-left:10px;
    position:relative;
}
nav > ul > li{
    float: left;
}
nav > ul > ul{
    float:left;
    height:70px;
    margin-left:20px;
    overflow:hidden;
}
nav > ul > ul > li{
    display:inline-block;
}
nav > ul > ul > li > a{
    color:#033349;
    cursor:pointer;
    padding:2px 10px 3px;
    text-decoration:none;
    border-radius:3px;
    border:1px solid #fff;
    margin-right:10px;
}
nav > ul > ul > li > a.current , nav > ul > ul > li > a:hover{
    background:#033349;
    border:1px solid #333;
    color:#ffffff;
}
nav aside{
    position:absolute;
    right:20px;
    top:6px;
}
nav .shareFB, nav .shareTW, nav .shareGP{
    position:absolute;
    top:0;
}
nav .shareFB{
    right:165px;
}
nav .shareTW{
    right:70px;
    width:90px;
}
nav .shareGP{
    right:10px;
    width:60px;
}
nav #instasodaLogo {
    background:url("http://instasoda.com/area51/productdemo3/images/instasoda_logo.png") no-repeat left top;
    display:block;
    height:29px;
    margin:21px 0 0 15px;
    width:166px;
}

/********************************
 * ARTICLES
 ********************************/

	article.item{
    position: relative;
	  float:left;
    width:270px;
    height:335px;
    margin:0px 30px 25px 0px;
    padding:10px 20px 20px 20px;
		background:#fff;
    border:5px solid white;
    overflow:hidden;
    color:#333;
    box-shadow:2px 2px 10px -2px rgba(0,0,0,0.5);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
	}
    article.item:first-child{
      margin-left: 1200px!important;
    }
		article.item:hover{
      cursor:pointer;
      border:5px solid #DDD;
      box-shadow:4px 4px 15px rgba(0,0,0,0.3);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    article.item footer {
      position: absolute; width: 100%; height: 105px; bottom:0; left: 0; background: url(img/fade-white.png) repeat-x;z-index:3;
    }
      article.item footer img{
        display:none;
        position:absolute;
        right:5px;
        bottom:3px;
      }
      article.item footer i{
        color:#BE1D2C;
        font-size: 16px;
      }
        article.item footer i span{
          color:#333;
        }

	article.item h1, #articleFullView h1, .storyForm h1{
    font-family:"liberation-serif", serif;
    font-size:2.4em;
    font-style:italic;
    font-weight:700;
    margin-bottom:0.2em;
	}

  article.item cite, #articleFullView cite{
    font-size:1.2em;
    color: #666666;
    margin-bottom: 0.2em;
  }
    article.item cite > span, #articleFullView cite > span{
      background: #EEE;
      padding: 2px 7px;
      border-radius: 9px;
      font-style: normal;
    }

  article.item span p{
    height:275px;
    overflow-y:hidden;
  }

	article.item span p, #articleFullView span p{
		font-size:1.3em;
		padding:10px 0;
    display:block;
    margin-top:0.2em;
    line-height:1.5em;
	}

  .commentTooltip{
    position:fixed;
    width:272px;
    margin-top:13px;
    padding:0 20px 5px;
    background:#fff;
    color:#333;
    font-size: 1.5em;
    border:5px solid #fff;
    border-top: none;
    box-shadow: 0 5px 10px -5px #444;
    z-index:2;
    display:none;
  }
    .commentTooltip > header{
      margin-bottom: 10px;
      padding:5px 10px 0px 0px;
      border-bottom:5px solid #BE1D2C;
      font-family: liberation-serif;
      font-weight:700;
      font-style:italic;
    }
      .commentTooltip > header > h1{
        font-size: 1.3em;
      }
    .commentTooltip > section > p{
      padding-bottom: 10px;
      padding-top: 0;
    }

  #formWrapper{
    float:left;
    position:relative;
    padding:10px;
    background:white;
    z-index:4;
  }

	.storyForm{
    position:relative;
    z-index:1;
    float:left;
    width:300px;
    height:295px;
    margin:0px;
    padding:15px;
    background:#FFFFFF;
    border:15px solid #BE1D2C;
    box-shadow:15px 0px 40px -10px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
	}
    .storyForm button{
      position: absolute;
      bottom: 0px;
      left: 25px;
      margin: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .storyForm button:hover{
      box-shadow:0 5px 16px -7px #000 inset;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .storyForm h1{
      font-family: "liberation-serif",serif;
      font-weight: 700;
      font-style: italic;
      font-size: 3em;
      margin-bottom:0.4em;
    }

    .sendingStory {
      border-color: #555!important;
    }
      .sendingStory > button{
        background: #555!important;
      }

  .commentForm{
    margin:-10px 0 -20px;
  }
    .commentForm > form{
      height:80px;
    }
    .commentForm h1{
      padding-bottom:10px;
    }
    .commentForm textarea{
      height:80px;
      padding-top:0;
      font-size:1.3em;
      resize:none;
    }
    .commentForm button{
      margin:20px 0;
    }

	.doubleX{
		width: 620px!important;
	}
/********************************
 * TEXT EDITOR
 ********************************/
  .storyTitle{
    width:100%;
    padding:5px 0 10px;
    clear:both;
    height:20px;
    max-height:20px;
    border:none;
    border-bottom:1px solid #eee;
    display:block;
    outline:none;
    font-family:helvetica, arial, sans-serif;
    font-size:1.6em;
  }
	.storyText, .commentText{
		width:100%;
    height:130px;
	  padding:10px 0;
	  clear:both;
	  display:block;
    border:none;
    outline:none;
	  resize:none;
    font-family:helvetica, arial, sans-serif;
    font-size:1.6em;
	}

  .commentText{
    height:80px;
  }

  form{
    padding:10px;
    border-top:1px solid #ccc;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #eee;
    clear:both;
    height:180px;
    max-height:180px;
    display:block;
    box-shadow:0px 2px 4px #ddd inset;
    background:rgba(255,255,255,0.7);

  }
	.storyNickname{
		margin:0 0 0 10px;
		padding:0 0.5em;
		width:13em;
		height:2em;
	  border-top:1px solid #ccc;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	  border-bottom:1px solid #eee;
		box-shadow:0px 2px 4px #ddd inset;
	}

/********************************
 * ARTICLE - FULL VIEW
 ********************************/

	#articleFullView{
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
		z-index:999;
    overflow-y:scroll;
	}
    #curtain{
      background:rgba(255,255,255,0.9);
      position:fixed;
      top:0;
      left:0;
      right:16px;
      bottom:0;
      z-index:999;
      cursor:pointer;
    }

    #articleFullView > article > .closeStory{
      position:absolute;
      right:-1px;
      top:-1px;
      background:#333;
      color:#fff;
      font-family:"georgia", "times new roman", serif;
      font-style:italic;
      font-size:1.9em;
      font-weight:bold;
      padding:4px 20px 6px;
      border-bottom-left-radius:8px;
      cursor:pointer;
    }

    .fullViewSeparator{
      height:1px;
      background:#BE1D2C;
      margin:15px 0 20px;
    }

    #articleFullView > article > .widget{
      position:absolute;
      right:-68px;
      top:0;
      width: 48px;
      margin-top: 32px;
      background:#BE1D2C;
      color:#fff;
      font-family:"georgia", "times new roman", serif;
      font-style:italic;
      font-size:1.9em;
      font-weight:bold;
      padding:0 10px;
      border-bottom-right-radius:8px;
      border-top-right-radius:8px;
      box-shadow:13px 0 12px -12px rgba(34, 25, 25, 1) inset;
      cursor:pointer;
    }

    #articleFullView > article{
      padding:35px;
      background:#fff;
      height:auto;
      left:50%;
      position:absolute;
      top:2em;
      width:500px;
      z-index:999;
      margin-left:-250px;
      border:20px solid rgba(0, 0, 0, 0.54);
    }
      #articleFullView > article > .fullTitle{
        font-size:3em;
      }
      #articleFullView > article > span > p{
        margin-top:0.5em;
        font-size:1.65em;
        font-family: "liberation-serif", serif;
      }
      #articleFullView > article > #comments{
        margin:5px 0 10px;
        display:block;
        overflow:hidden;
      }
      #articleFullView > article > #comments .newComment{
        display:none;
      }
      #articleFullView > article > #comments .noComments{
        display:block;
        font-size:1.5em;
        margin-bottom:20px;
      }
        #articleFullView > article > #comments p{
          margin:10px 0 20px;
          background:#fff;
          overflow:hidden;
        }
          #articleFullView > article > #comments p > span{
            float:right;
            width:410px;
            min-height:70px;
            margin-top:-3px;
            padding: 0px 10px;
            font-size:1.3em;
            line-height:1.3em;
          }
            #articleFullView > article > #comments p > span strong{
              font-weight: bold;
            }



/********************************
 * WIDGETS
 ********************************/
.widget-comment{
  color: #555;
  margin-top: 75px;
  margin-left: 20px;
  font-size: 16px;
  font-family: liberation-serif;
  font-style: italic;
  font-weight: bold;
}


/********************************
 * DISQUS OVERRIDES
 ********************************/
#dsq-footer{
  display:none;
}