// =============================================================================
// FORMS
// =============================================================================

  // BUTTON
  button,
  .button {
    background: @color2;
    padding: 0.5rem 1rem;
    border: 0 none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
    display: inline-block;
    opacity: 1;
    text-align: center;
    margin: 0;
    font-family: "Segoe WP", "Segoe UI", helvetica, arial,sans-serif;
    
    &:hover {
      text-decoration: underline;
      background: @color2;
      //border: 3px solid @color2;
    }
  }
  
  // LABEL
  label {
    margin: 0 1rem 0 0;
    position: relative;
    overflow: hidden;
    color: #666;

    &:hover {
      color: #222;

      input[type="checkbox"] {
        border: 3px solid #aaa;
      }
    }

    span {
      display: inline-block;
      font-size: 1.4rem;
      line-height: 3rem;
      padding-left: 3.5rem;
    }
  }

  // CHECKBOX
  input[type="checkbox"] {
    .appearance(none);
    .box-sizing(border-box);
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #ccc;
    margin: 0;
    padding: 0;
    background: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;

    &:before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      content: "";
      color: #ccc;
    }

    &:checked {
      border: 3px solid @colorGreen !important;

      &:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        content: "\f00c";
        color: @colorGreen;
      }
    }
  }

  // TEXT FIELD
  input[type="text"] {
    border: 3px solid #ccc;
    padding: 0.5rem;
    font-size: 1.6rem;
    margin: 0;
    display: inline-block;
  }

  // TEXT AREA
  .textArea {
    overflow-y: auto;
    word-wrap: break-word;
    background: #fafafa;
    border: 3px solid #ccc;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }