// =============================================================================
// MAIN STYLES
// =============================================================================
  
  html {
    height: 100%;
  }
  
  body {
    //font-family: "Segoe WP", "Segoe UI", helvetica, arial,sans-serif;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Open Sans', sans-serif;
    font-family: arial,sans-serif;
    font-weight: 300;
    font-size: 62.5%;
    overflow: hidden;
    height: 100%;
    background: #f9f9f9;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0em 0 1rem;
    font-size: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    color: @colorBlue2;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: @colorBlue2;
  }
  
  h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }


  // Special rule for mosaic's iFrame
  #mosaic {
    position: fixed;
    top: 70px;
    bottom: 30px;
    left: 0;
    right: 0;
  }