// =============================================================================
// OO STYLES
// =============================================================================
  
  .left { float: left; }
  .right { float: right; }
  
  .margin1x { margin: 10px; }
  .margin2x { margin: 20px; }

  .marginTop1x { margin-top: 10px; }
  
  .padding1x { padding: 10px; }
  .padding2x { padding: 20px; }
  .padding3x { padding: 40px; }
    .paddingRight2x { padding-right: 20px; }
    .paddingRight3x { padding-right: 40px; }
  
  .text-shadow { text-shadow: 1px 1px #fff; }
  .round { .border-radius; }
  .animated { .transition(0.4s); }
  .hidden { display: none; }
  .transparent { opacity: 0 !important; }
  .clearBoth { clear: both; }

// =============================================================================
// REUSABLE UI ELEMENTS
// =============================================================================

  .tip {
    color: #000;
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.5em;
    height: 16px;
    width: 0px;
    overflow: hidden;
    background: url(../img/info.png) top left no-repeat transparent;
    padding-left: 20px;
    border: 1px solid transparent;
  }
  
  .protected {
    color: #BE1E2D;
    font-style: italic;
  }
  
  .fbData {
    background: url(../img/fb_icon.png) center left no-repeat;
    padding-left: 14px;
  }


// =============================================================================
// LAYOUT
// =============================================================================

  #content {
    background: url(../img/bubbleHeaderBg.png) right -0px no-repeat;
    position: relative;
    padding-top: 90px;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    height: 100%;
    width: 100%;

    &>div:first-child {
      position: relative;
      
      height: 100%;
      width: 100%;
    }
  }

  .column {
    vertical-align: top;
    text-align: left;
    height: 900px;
    padding: 0 40px 0 40px;
    position: absolute;
    top: 0;
    display: block;

    h1 {
      white-space: nowrap;
    }
  }

  .sidebar {
    background: #eee;
    position: fixed;
    left: 20px;
    top: 90px;
    //bottom: 70px;
    width: 280px;
    z-index: 2;
    height: auto;
    color: @color1;
    overflow: auto;
    padding: 0;
    
    section {
      clear: both;
      overflow: hidden;
      padding: 20px 20px 0;
      
      .tip {
        color: @colorBlue2;
        font-size: 1.2em;
      }
    }
  }

  .mainContent {
    position: fixed;
    left: 0px;
    top: 90px;
    bottom: 30px;
    right: 0;
    padding-left: 320px;
    overflow: auto;
    height: auto;
  }


// =============================================================================
// MISC
// =============================================================================

  .userPreview {
    .photo;
    position: relative;
    float: left;
    text-align: center;
    margin: 0 10px 8px 0;
  }
  
  .userPreviewNickname {
    font-size: 12px;
    margin-top: 5px;
    color: #00364D;
  } 

  .scrollbarH {
    position: absolute;
    z-index: 100;
    height: 5px;
    bottom: 1px;
    left: 0px;
    right: 0px;
    background: #ddd;

    &> div {
      position: absolute;
      z-index: 100;
      height: 100%;
      background: #666;
    }
  }