// =============================================================================
// OO STYLES
// =============================================================================
  
  .left { float: left; }
  .right { float: right; }
  
  .margin1x { margin: 10px; }
  .margin2x { margin: 20px; }

  .marginTop1x { margin-top: 10px; }
  
  .padding1x { padding: 10px; }
  .padding2x { padding: 20px; }
  .padding3x { padding: 40px; }
    .paddingRight2x { padding-right: 20px; }
    .paddingRight3x { padding-right: 40px; }
  
  .text-shadow { text-shadow: 1px 1px #fff; }
  .round { .border-radius; }
  .animated { .transition(0.4s); }
  .hidden { display: none; }
  .transparent { opacity: 0 !important; }
  .clearBoth { clear: both; }
  .rotateY {
    .transform(rotateY(180deg));
  }
  .rotateYreverse {
    .transform(rotateY(-180deg));
  }
  .rotateY90reverse {
    .transform(rotateY(-90deg));
  }
  

// =============================================================================
// REUSABLE UI ELEMENTS
// =============================================================================

  .tip {
    color: #000;
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.5em;
    height: 16px;
    width: 0px;
    overflow: hidden;
    background: url(../img/info.png) top left no-repeat transparent;
    padding-left: 20px;
    border: 1px solid transparent;
  }
  
  .protected {
    color: #BE1E2D;
    font-style: italic;
  }
  
  .infoVerified {
    background: url(../img/fb_icon.png) left 1px no-repeat;
    padding-left: 14px;
  }


// =============================================================================
// LAYOUT
// =============================================================================

  #content {
    .transition(all 1.2s cubic-bezier(.77, .12, .12, .74));
    position: absolute;
    left: 85px;
    top: 0;
    right: 200px;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    float: left;

    &>div:first-child {
      position: relative;
      height: 100%;
      width: 100%;

    }

    &>div:first-child:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  #sidebar {
    .transition(all 0.6s cubic-bezier(.77, .12, .12, .74));
    //.box-shadow(1px, 0px, 2px 0px, rgba(0, 0, 0, .2) inset);
    background: #ececec;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    z-index: 10;

    &.visible {
      .transition(all 1.2s cubic-bezier(.77, .12, .12, .74));
      width: 200px;
    }

    .sidebarTabs {
      background: #fff;
      width: 100%;

      .sidebarTabTitle {
        background: @color2;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 0.8rem 1rem;
      }
    }
  }

  .column {
    vertical-align: top;
    text-align: left;
    padding: 0 40px 0 40px;
  }

  .sidebar {
    display: block;
    position: relative;
    width: 20%;
    z-index: 2;
    height: 100%;
    color: @color1;
    padding: 4rem 2rem;
    border-right: 1px solid #e0e0e0;
    float: left;
    
    section {
      clear: both;
      padding: 0 0 20px;
      
      .tip {
        color: @colorBlue2;
        font-size: 1.2em;
      }
    }
  }

  .mainContent {
    position: relative;
    width: 80%;
    height: 100%;
    overflow: auto;
    display: block;
    padding: 4.7rem 4rem;
    float: left;

    section {
      clear: both;
      margin-bottom: 2rem;
    }
  }


// =============================================================================
// MISC
// =============================================================================

  .userPreview {
    .box-shadow(0, 1px, 1px, #888);
    border: 1px solid #ddd;
    padding: 1rem;
    position: relative;
    background: #eee;
    float:left;
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 0 10px 8px 0;
    cursor: pointer;

    .onlineStatus {
      .border-radius(10px);
      position: absolute;
      top: 15px;
      right: 15px;
      width: 10px;
      height: 10px;

      &.isOnline {
        background: green;
      }

      &.isOffline {
        background: red;
      }
    }

    .userPreviewNickname {
      font-size: 11px;
      margin: 5px 0 0 0;
      color: #555;
    } 

    &:hover {
      background: #ddd;
      text-decoration: underline;
    }
  }


// =============================================================================
// FANCYBOX.js
// =============================================================================

  .fancybox-next {
    width: 60%;
  }
  .fancybox-prev {
    width: 40%;
  }


// =============================================================================
// SLIMSCROLL
// =============================================================================

  .slimScrollBar {
    background-color: #ddd;

    &:hover,
    &.ui-draggable-dragging {
      background-color: #999;      
    }
  }

  .slimScrollRail {
    background-color: #eee;
  }

// =============================================================================
// PAGEFLIP PLACEHOLDER
// =============================================================================

  #pageFlipPlaceholder {
    .perspective(2000px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;

    .pageApartial,
    .pageBpartial {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 1;
    }

    .pageApartial {
      left: -50%;
      z-index: 3;

      .pageApartialInner {
        margin-left: 50%;
      }
    }

    .pageBpartial {
      left: 50%;
      z-index: 1;

      .pageBpartialInner {
        margin-left: -50%;
      }
    }

    .pageFlip {
      .transition(all 1.5s cubic-bezier(.77, .12, .12, .74));
      .transform-style(preserve-3d);
      .transform-origin(left center);
      .transform(rotateY(0deg));
      position: absolute;
      z-index: 4;
      width: 100%;
      height: 100%;
      left: 50%;

      &.pageFlipped {
        .transform(rotateY(-180deg));
      }

      .pageAcontainer {
        .transform-style(preserve-3d);
        .transition(all 1.0s cubic-bezier(.77, .12, .12, .74));
        .backface-visibility(hidden);
        width: 50%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        .page {
          position: absolute;
          overflow: hidden;
          height: 100%;
        }
      }

      .pageBcontainer {
        .backface-visibility(hidden);
        .transform-style(preserve-3d);
        .transform(rotateY(-180deg));
        background-color: #fff;
        width: 50%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        .page {
          position: absolute;
          overflow: hidden;
          height: 100%;
        }
      }
    }
  }