@media all and (max-width : 1700px)  
{
	.sidebar {
		width: 25%;
	}

	.mainContent {
		width: 75%;
	}
}
@media all and (max-width : 1400px)  
{
	.sidebar {
		width: 30%;
	}

	.mainContent {
		width: 70%;
	}
}
@media all and (max-width : 1250px)  
{
	.sidebar {
		width: 35%;
	}

	.mainContent {
		width: 65%;
	}
}
@media all and (max-width : 1100px)  
{
	.sidebar {
		width: 40%;
	}

	.mainContent {
		width: 60%;
	}
}
@media all and (max-width : 990px)  
{
	#content {
		right: 130px;
	}

	#sidebar {
		width: 130px;

		#chat {
			.chatSession {
				right: 140px;
			}
		}
	}

	.sidebar {
		width: 40%;
		padding: 2rem 1rem;
	}

	.mainContent {
		width: 60%;
		padding: 2rem 1rem;
	}
}
@media all and (max-width : 910px)  
{
	#content {
		right: 55px;
	}

	#sidebar {
		width: 55px;

		#chat {
			.chatSession {
				right: 65px;
			}
		}
	}

	.sidebar {
		width: 40%;
		padding: 1rem 0.5rem;
		border-right: 0 none;
	}

	.mainContent {
		width: 60%;
		padding: 1rem 0.5rem;
	}
}