// =============================================================================
// MIXINS
// =============================================================================

  .linear-gradient (@from: #fff, @to: #eee, @start: 0%, @finish: 100%) {
    background: @to;
    background: -ms-linear-gradient(@from @start, @to @finish);
    background: -moz-linear-gradient(@from @start, @to @finish);
    background: -webkit-linear-gradient(@from @start, @to @finish);
    background: -o-linear-gradient(@from @start, @to @finish);
    background: linear-gradient(@from @start, @to @finish);
  }
  
  .box-shadow (@x: 0px, @y: 0px, @spread: 40px, @color: rgba(0, 0, 0, 0.4)) {
    -moz-box-shadow: @x @y @spread @color;
    -webkit-box-shadow: @x @y @spread @color;
    -ms-box-shadow: @x @y @spread @color;
    -o-box-shadow: @x @y @spread @color;
    box-shadow: @x @y @spread @color;
  }
  
  .box-shadows (@sh1, @sh2) {
    -moz-box-shadow: @sh1, @sh2;
    -webkit-box-shadow: @sh1, @sh2;
    -ms-box-shadow: @sh1, @sh2;
    -o-box-shadow: @sh1, @sh2;
    box-shadow: @sh1, @sh2;
  }
  
  .border-radius(@arg: 4px) {
    -webkit-border-radius: @arg;
    -moz-border-radius: @arg;
    -ms-border-radius: @arg;
    -o-border-radius: @arg;
    border-radius: @arg;
  }
  
  .scale (@arg) {
    -moz-transform: scale(@arg);
    -webkit-transform: scale(@arg);
    -o-transform: scale(@arg);
    -ms-transform: scale(@arg);
    transform: scale(@arg);
  }
  
  .transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
  }

  .skew(@deg, @deg2) {
    -webkit-transform: skew(@deg, @deg2);
    -moz-transform: skew(@deg, @deg2);
    -ms-transform: skew(@deg, @deg2);
    -o-transform: skew(@deg, @deg2);
    transform: skew(@deg, @deg2);
  }
  
  .transform(@transform: scale(1.2)) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
  }

  .animation(@keyframes: slide, @duration: 10s, @delay: 1s, @easing: ease-in, @repeat: infinite) {
    -webkit-animation: @keyframes @duration @delay @easing @repeat;
    -moz-animation: @keyframes @duration @delay @easing @repeat;
    -o-animation: @keyframes @duration @delay @easing @repeat;
    -ms-animation: @keyframes @duration @delay @easing @repeat;
    animation: @keyframes @duration @delay @easing @repeat;
  }

  .opacity(@opacity: 100) {
    filter: e(%("alpha(opacity=%d)", @opacity));
    -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
    opacity: @opacity / 100;
  }
  
  .photo() {
    .box-shadow(0, 1px, 1px, #888);
    border: 1px solid #eee;
    position: relative;
    padding: 1em; 
    margin: 0 0.5em 2em; 
    background: #fff;
    float:left;
    
    img {
      cursor:pointer;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #fff;
    }
  }