.notification {
  .box-shadow(0, 15px);
  .linear-gradient();
  .border-radius();
  width: 200px;
  position: fixed;
  top: 90px;
  right: 20px;
  padding: 5px 10px;
  z-index: 999;
  border: 1px solid @colorBlue4;
  font-size: 11px;
  line-height: 1.7em;
  display: none;

  .notificationTitle {
    display: block;
    font-size: 12px;
    color: @colorBlue1;
    font-weight: 700;
    text-shadow: 1px 1px #fff;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .notificationSubtitle {
    display: block;
    color: @colorBlue2;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .notificationMessage {
    display: block;
    color: #333;

    &:first-letter {
      text-transform: uppercase;
    }
  }

}