#notificationsTopPanel {
  background: #ececec url(../img/instasoda_logo2.png) 35px 15px no-repeat;
  position: absolute;
  top: 0;
  left: 68px;
  right: 49px;
  height: 50px;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #ccc;
  .transition(all 0.5s ease-in-out);
  .box-shadow(0px,0,35px -7px, rgba(0,0,0,0.7));
  z-index: 3;
}

.notification {
  width: 200px;
  position: fixed;
  z-index: 999;
  top: -40px;
  right: 20px;
  padding: 10px;
  border: 1px solid @colorBlue4;
  font-size: 11px;
  line-height: 1.7em;
  background: @colorBlue4;
  border: 1px solid @colorBlue3;
  -webkit-transform: translate3d(0, 0, 0);
  .transform( scale(0.6) skew(50deg, 0) );
  .transition(all 0.6s ease-in-out);
  display: none;
  &.active {
    top: 20px;
    .transform( scale(1) skew(0deg, 0) );
  }

  .notificationTitle {
    display: inline-block;
    font-size: 15px;
    color: #404040;
    text-shadow: -1px 1px 0 @colorBlue4;
    font-weight: 700;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .notificationSubtitle {
    display: inline-block;
    color: @colorBlue2;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .notificationMessage {
    display: inline-block;
    font-size: 13px;
    color: #333;

    &:first-letter {
      text-transform: uppercase;
    }
  }

}