#chat {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 7rem;
  background: #ddd;
  width: 25rem;
  display: none;
  word-wrap: break-word;
  .box-shadows(10px 0 20px -12px #777 inset, 1px 0 0 0 #ccc inset);

  .chat-tab {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 5px 5px 5px 7px;

    &:hover {
      background: #fff;
      color: #444;
      .box-shadow(10px, 0px, 12px, -5px rgba(0,0,0,.2) inset);
      .user {
        text-decoration: underline;
      }
    }

    .photo {
      float: left;
      margin-right: 0.5rem;
      display: block;
      height: 4rem;
      overflow: hidden;
      background-color: #fff;
      border-radius: 4px;
    }

    .user {
      display: block;
      padding-top: 0.5rem;
      font-size: 1.3rem;
      line-height: 1.5rem;
    }

    .meta {
      opacity: 0.5;
      font-size: 0.9rem;
      display: block;
    }

    .unread-messages {
      font-size: 0.9rem;
      position: absolute;
      right: 5px;
      top: 4px;
      color: #aaa;
      background: #fff;
      padding: 5px;
      border: 1px solid #eee;
      display: none; // until it actually works
    }

    &.active {
      background: @color3;
      color: #fff;
      .box-shadow(-5px, 5px, 20px, -5px rgba(0,0,0,.2) inset);
    }
  }

  .chat-sessions-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25rem;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    padding: 0;
    z-index: 9999;
  }

  .chat-session {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25rem;
    background: #f6f6f6;
    border: 1px solid #ddd;
    max-width:400px;
    height: 30rem;
    font-size: 1.1em;
    overflow: hidden;

    .chat-log-scroll-wrapper {
      padding: 0.5rem 0 0 1rem;
    }

    .chat-log {
      display: block;
      line-height: 1.5rem;

      .chat-log-line {
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin: 0.5rem 1.5rem 0.5rem 0;

        .user {
          color: #999;
        }

        .time {
          font-size: 1.1rem;
          color: #999;
          float: right;
        }
      }
    }

    .chat-controls {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      #send-sessage-form {
        margin: 0;
      }

      .chat-input {
        display: block;
        background: #fff;
        width: 100%;
        margin: 0;
        border: 0px solid #fff;
        padding: 2rem 1rem;
        height: 1.7rem;
        line-height: 1.7rem;
        font-size: 1.3rem;

        &:focus {
          outline: none;
        }
      }
    }
  }
}