.like {
  width: 10rem;
  float: left;
  position: relative;
}
.like .like-image-container {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.like .like-image-container .interest-rating {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent;
}
.like .like-image-container .like-img {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.like .interest-title {
  margin-top: 0.3rem;
  color: #ccc;
  font-size: 1.1rem;
  text-align: center;
  height: 4.0em;
  line-height: 1.4rem;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: default;
}
.like.rate1 .interest-rating {
  border-color: transparent transparent transparent #be1e2d;
}
.like.rate2 .interest-rating {
  border-color: transparent transparent transparent #3dbcdf;
}
.like.rate3 .interest-rating {
  border-color: transparent transparent transparent #74b843;
}
.like:hover .like-image-container {
  opacity: 0.3;
}
.like:hover .like-image-container .interest-rating {
  display: none;
}
.like .like-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
}
.like .like-panel .like-attitudes {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.like .like-panel .like-attitudes .like-attitude {
  opacity: .95;
  font-size: 1.2rem;
  padding: 0.15rem 0.5rem;
  cursor: pointer;
  background: #fff;
  font-weight: 700;
  position: relative;
}
.like .like-panel .like-attitudes .like-attitude .icon {
  float: right;
  display: none;
  line-height: 2rem;
}
.like .like-panel .like-attitudes .like-attitude.active .current {
  display: block;
}
.like .like-panel .like-attitudes .like-attitude.active.attitude1 {
  color: #fff;
  background: #be1e2d;
}
.like .like-panel .like-attitudes .like-attitude.active.attitude2 {
  color: #fff;
  background: #3dbcdf;
}
.like .like-panel .like-attitudes .like-attitude.active.attitude3 {
  color: #fff;
  background: #74b843;
}
.like .like-panel .like-attitudes .like-attitude.attitude1 {
  color: #be1e2d;
}
.like .like-panel .like-attitudes .like-attitude.attitude2 {
  color: #3dbcdf;
}
.like .like-panel .like-attitudes .like-attitude.attitude3 {
  color: #74b843;
}
.like .like-panel .like-attitudes .like-attitude:hover {
  opacity: 1;
          /*&.attitude1 {
            color: #fff;
            background: $colorRed1;
          }

          &.attitude2 {
            color: #fff;
            background: $colorBlue3;
          }

          &.attitude3 {
            color: #fff;
            background: $colorGreen1;
          }*/
}
.like .like-panel .like-attitudes .like-attitude:hover .current {
  display: none;
}
.like .like-panel .like-attitudes .like-attitude:hover .add {
  display: block;
}
.like .like-panel .like-attitudes .like-attitude:hover.active .remove {
  display: block;
}
.like .like-panel .like-attitudes .like-attitude:hover.active .add {
  display: none;
}
.like .like-panel .facebook-url,
.like .like-panel .search-toggle {
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #007da6;
  font-size: 1.5rem;
}
.like .like-panel .facebook-url:hover,
.like .like-panel .search-toggle:hover {
  background: #007da6;
  color: #fff;
}
.like .like-panel .search-toggle {
  right: 3rem;
}
