#likesResults {
  &.secondary-block {
    padding-left: 150px;
  }
}

#block-likes, #likesResults {
  li {
    list-style: none;
  }

  h1, h2, h3, span {
    display: inline-block;
    color: #505050;
  }

  .secondary-block, .row {
    min-height: 190px;
    .columns {
      padding: 0 15px;
      min-width: 150px;
      cursor: pointer;
      &:hover {
        img {
          .opacity(50);
        }
      }
      p {
        width: 150px;
        height: 40px;
        min-width: 100px;
        margin: 3px 0 12px 0;
        .font-size(1.3, 1.7);
        color: #585858;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        width: 150px;
        height: 150px;
        min-width: 100px;
        min-height: 100px;
        background: #eee;
        border: 1px solid white;
        .transition(all 0.3s);
      }
    }
    .like-type-label {
      margin-top: -10px;
    }
  }

  > div > span {
    .font-size(2.4);
  }

  #like-block-favourites, #like-block-dislikes, #like-block-likes {
    margin-top: -15px;
  }

  #like-block-favourites-placeholder, #like-block-dislikes-placeholder, #like-block-likes-placeholder {
    padding-left: 30px;
    .row {
      margin-bottom: 40px;
    }
  }

  .like-type-label {
    margin-bottom: 15px;
    height: 40px;
    border-bottom: 1px dotted #BBB;
    h2 {
      display: inline-block;
      .font-size(1.4);
      font-weight: 400;
    }
    span {
      position: relative;
      padding-right: 3px;
      .font-size(1.8, 1.2);
    }
    .icon-star { color: orange; }
    .icon-thumbs-down { top: -3px; color: #888; }
  }
}

#likesFilters {
  position: fixed;
  top: 100px;
  left: 127px;
  width: 107px;
  z-index: 1;
  .likeView  {
    color: transparent;
    .scale(0.8);
    z-index: 2;
    &:hover {
      .likeCategory {
        .opacity(100);
        visibility: visible;
        .translateX(0);
      }
    }
    .icon {
      padding: 10px 0;
      .font-size(5, 5);
      color: #303030;
      .transition(all 0.2s ease-in-out);
      cursor: pointer;
    }
    .icon-thumbs-up {
      color: @colorBlue3;
    }
    .icon-thumbs-down {
      color: #ddd;
    }
    .icon-star-empty {
      color: darkorange;
    }
    &.current .icon {
      .scale(1.5)!important;
    }
  }
}

.likeCategory {
  position: absolute;
  top: -10px;
  left: 60px;
  width: 420px;
  padding: 20px 0 10px 20px;
  background: #444;
  border-radius: 2px;
  color: white;
  z-index: 1;
  cursor: pointer;
  .opacity(0);
  .translate3d(-20px,0,0);
  visibility: hidden;
  .transition(all 0.3s ease-in-out);
  &.likeCategory:after {
    left: -18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &.likeCategory:after {
    border-color: rgba(68, 68, 68, 0);
    border-right-color: #444;
    border-width: 10px;
    top: 34px;
  }
  .likeCategoryTitle {
    width: 100px;
    height: 130px;
    padding: 0 20px 0 0;
    float: left;
    font-weight: bold;
  }
  .likeCategoryTitleName {
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 30px;
    padding: 0;
    text-align: center;
    .font-size(1.2,1.4);
  }
}

.likePanel {
  position: absolute;
  width: 160px;
  height: 150px;
  top: 0;
  left: 20px;
  border-radius: 8px;
  font-weight: normal;
  text-align: center;
  z-index: 1;

  .likeAttitudes {
    overflow: hidden;
    position: relative;
    margin: 45px 0 10px -21px;
    background-color: #fff;
    border-radius: 4px;
    .box-shadow(0, 0, 10px 0, #999);
    .font-size(1.1);

    .likeAttitude {
      display: block;
      float: left;
      .font-size(1.2);
      text-align: center;
      padding: 10px 12px;
      cursor: pointer;
      &.attitude1 {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.attitude2 {
        border: 1px solid #ccc;
        border-width: 0 1px 0 1px;
      }
      &:hover {
        text-decoration: underline;
      }
      &.active {
        //.linear-gradient(@color1, @color2);
        background: @colorBlue2;
        color: #fff;
        &.attitude2 {
          border-color: #777;
        }
      }
    }
  }

  .addToSearch,
  .removeFromSearch,
  .likeFacebookUrl {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 1rem;
  }

  .addToSearch {
    background: url(../img/addToSearch.png) top left no-repeat;
  }

  .removeFromSearch {
    background: url(../img/removeFromSearch.png) top left no-repeat;
  }

  .likeFacebookUrl {
    background: url(../img/fb_icon_20x20.png) top left no-repeat;
  }
}