// =============================================================================
// LIKES
// =============================================================================
  
  .like {
    border: 1px solid white;
    position: relative;
    padding: 10px; 
    margin: 0 15px 15px 0; 
    background: #fff;
    display: inline-block;
    width: 161px;
    background-image: linear-gradient(left top, rgb(242,246,247) 11%, rgb(234,242,245) 50%);
    background-image: -o-linear-gradient(left top, rgb(242,246,247) 11%, rgb(234,242,245) 50%);
    background-image: -moz-linear-gradient(left top, rgb(242,246,247) 11%, rgb(234,242,245) 50%);
    background-image: -webkit-linear-gradient(left top, rgb(242,246,247) 11%, rgb(234,242,245) 50%);
    background-image: -ms-linear-gradient(left top, rgb(242,246,247) 11%, rgb(234,242,245) 50%);
    background-image: -webkit-gradient(
      linear,
      0 top,
      left bottom,
      color-stop(0.11, rgb(242,246,247)),
      color-stop(0.5, rgb(234,242,245))
    );
    color: #303030;

    &.rate1 {
      background: @color3;
      border: 1px dashed #ccc;

      .likeName {
        color: white;
      }
    }

    &.rate2 {
      /* default style */
    }

    &.rate3 {
      background: @color2;
      border: 1px dashed #ccc;

      .likeName {
        color: white;
      }
    }
    
    .likeName {
      display: block;
      float: right;
      font-size: 12px;
      max-width: 6.5em;
      height: 2.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      line-height: 1.1;
      text-transform: lowercase;
      font-weight: bold;
      cursor: default;
    }

    .likePic {
      float:left;
      border: 1px solid white;
    }

    .likePanel {
      .box-shadow(0, 5px, 40px, #888);
      position: absolute;
      min-width: 192px;
      max-width: 220px;
      top: -33px;
      left: -15px;
      background: #fff;
      padding: 10px 20px;
      font-weight: normal;
      z-index: 9;

      .likePic {
        margin: 0 10px 10px 0;
        float: left;
      }

      .likeName {
        //max-width: 300em;
        width: 92px;
        text-align: right;
        height: auto;
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 1.2em;
        overflow: hidden;
        font-weight: bold;
        float: right;
      }

      .likeAttitudes {
        .linear-gradient();
        display: block;
        clear: both;
        overflow: hidden;
        position: relative;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        float: left;

        .likeAttitude {
          display: block;
          float: left;
          text-align: center;
          padding: 0.7em 9.5px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          &.active {
            .linear-gradient(@color1, @color2);
            color: #fff;
          }
        }
      }

      .addToSearch,
      .removeFromSearch,
      .likeFacebookUrl,
      .doSearch {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        float: left;
        margin-right: 10px;
      }

      .addToSearch {
        background: url(../img/addToSearch.png) top left no-repeat;
      }

      .removeFromSearch {
        background: url(../img/removeFromSearch.png) top left no-repeat;
      }

      .doSearch {
        background: url(../img/search.png) top left no-repeat;
      }

      .likeFacebookUrl {
        background: url(../img/fb_icon_20x20.png) top left no-repeat;
        float: right;
        margin-right: 0;
      }
    }
  }
  

  // Like categories
  // ---------------------------------------------------------------------------
  .likeCategories {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;

    .likeCategoryTitle {
      position: relative;
      padding: 0.5rem 0rem 0.5rem 0.5rem;
      cursor: pointer;
      color: @color1;
      font-size: 1.4rem;
      overflow: visible;
      background-color: @colorBlue6;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        background-color: @colorBlue2;
        color: #fff;
      }
    }

    .catFavourites,
    .catDislikes {
      display: none;
    }
  }

  .likeViewsContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 45px !important;

    .likeViews {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: hidden;
      font-size: 0.9rem;
      font-weight: 700;

      .likeView {
        .box-sizing(border-box);
        display: block;
        position: relative;
        width: 33.33%;
        font-size: 1.4rem;
        padding: 1rem 0;
        background: @color1;
        color: #fff;
        text-align: center;
        float: left;
        cursor: pointer;

        &.current {
          background: @colorBlue2;
        }

        .icon {
          width: auto;
        }

        .viewCount {
          display: block;
          font-size: 1rem;
          padding-top: 0.2rem;
          color: @colorBlue4;
        }
      }
    }
  }

  // Likes - other
  // ---------------------------------------------------------------------------
  .fbCategoryLikes {
    display: none;
    position: absolute;
    //top: 60px;
  }