// =============================================================================
// MAIN CONTAINER
// =============================================================================

  html,
  body {
    width: 100%;
    height: 100%;
  }

  #main-content {
    padding: 1rem 7rem 0 4rem;
    //overflow-x: hidden;

    .main-block {
      &.row {
        padding: 0px 45px 0 90px;
      }
      h1 {
        display: inline-block;
        .font-size(3.6);
        margin: 5px 0;
      }
      h2 {
        .font-size(3, 3.5);
      }
      h3 {
        .font-size(1.1);
        font-weight: 500;
        color: #a8a8a8;
      }
      > .columns > h1 {
        margin: 0 0 15px;
        line-height: 1;
      }
    }

    .secondary-block {
      position: relative;
      min-height:340px;
      margin-bottom: 30px;
      padding: 0px 22px 0 0;
      h2 {
        display: block;
        margin: 10px 0 0;
        line-height: 1.2;
      }
      > span {
        margin-bottom: 10px;
        .font-size(1);
        color: #a8a8a8;
      }
    }
  }

  .chat-is-visible #main-content {
    margin-right: 17rem;
    #user-bar {
      width: 25rem;
    }
  }


// =============================================================================
// HOMEPAGE FOR GUEST USERS
// =============================================================================

  body[data-page="welcome"] {
    .linear-gradient(#55BEE5, #007CA5);
    padding: 8rem;

    #navigation-bar,
    #user-bar {
      display: none;
    }

    #main-content,
    #main-content .main-block.row {
      padding: 0;
    }

    h2 {
      text-shadow: -1px 1px @color1;
      font-size: 4rem;
      color: #fff;
      position: relative;
      z-index: 6;
    }

    p {
      font-size: 2.5rem;
      line-height: 3rem;
      max-width: 40rem;
      color: @colorBlue1;
      text-shadow: -1px 1px @colorBlue3;
      position: relative;
      z-index: 6;
    }

    .facebook-plugin {
      z-index: 6;
      position: relative;
    }

    #fb-auth {
      .box-shadow(-2px, 2px, 2px, @color1);
      text-shadow: -1px 1px @color1;
      font-weight: 700;
      font-size: 3rem;
      position: relative;
      z-index: 7;
      margin-bottom: 1rem;
      line-height: 3rem;
      background: @colorRed1;
      border: 0 none;

      &:hover {
        text-decoration: underline;
      }
    }

    .instasodaLogoCap {
      background: url(../img/instasoda_logo_cap.png) top left no-repeat transparent;
      width: 440px;
      height: 437px;
      display: block;
      position: fixed;
      bottom: -100px;
      left: -66px;
      z-index: 4;
    }

    .bubbleTexture {
      background: url(../img/texture.png) top left repeat transparent;
      z-index: 3;
    }

    .staticBubbles {
      background: url(../img/bubbles.png) left bottom no-repeat transparent;
      z-index: 1;
    }

    .bubbleTexture,
    .staticBubbles {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #animatedBubbles {
      width: 100%;
      height: 450px;
      position: fixed;
      bottom: 10px;
      left: 35px;
      z-index: 2;

      .bubble {
        display: block;
        position: absolute;
        background: url(../img/bubble1.png) top left no-repeat transparent;
        left: 0;
        top: 350px;
        width: 39px;
        height: 40px;
        opacity: 0;

          &:nth-child(odd) {
            background: url(../img/bubble2.png) top left no-repeat transparent;
            width: 38px;
            height: 38px;
          }

          &:nth-child(1) {
            .animation(slide, 10s, 0s, ease-in, infinite);
            .scale(0.7);
            margin-left:0px;
          }
          &:nth-child(2) {
            .animation(slide, 10s, 0.5s, ease-in, infinite);
            .scale(0.5);
            margin-left:250px;
          }
          &:nth-child(3) {
            .animation(slide, 10s, 1s, ease-in, infinite);
            margin-left:120px;
          }
          &:nth-child(4) {
            .animation(slide, 10s, 1.5s, ease-in, infinite);
            .scale(0.5);
            margin-left:-130px;
          }
          &:nth-child(5) {
            .animation(slide, 10s, 2s, ease-in, infinite);
            margin-left:40px;
          }
          &:nth-child(6) {
            .animation(slide, 10s, 2.5s, ease-in, infinite);
            margin-left:150px;
          }
          &:nth-child(7) {
            .animation(slide, 10s, 3s, ease-in, infinite);
            .scale(0.8);
            margin-left:-60px;
          }
          &:nth-child(8) {
            .animation(slide, 10s, 3.5s, ease-in, infinite);
            margin-left:170px;
          }
          &:nth-child(9) {
            .animation(slide, 10s, 4s, ease-in, infinite);
            .scale(0.7);
            margin-left:-80px;
          }
          &:nth-child(10) {
            .animation(slide, 10s, 4.5s, ease-in, infinite);
            margin-left:90px;
          }
          &:nth-child(11) {
            .animation(slide, 10s, 5s, ease-in, infinite);
            .scale(0.5);
            margin-left:20px;
          }
          &:nth-child(12) {
            .animation(slide, 10s, 5.5s, ease-in, infinite);
            margin-left:0px;
          }
          &:nth-child(13) {
            .animation(slide, 10s, 6s, ease-in, infinite);
            .scale(0.7);
            margin-left:-50px;
          }
          &:nth-child(14) {
            .animation(slide, 10s, 6.5s, ease-in, infinite);
            margin-left:20px;
          }
          &:nth-child(15) {
            .animation(slide, 10s, 7s, ease-in, infinite);
            .scale(0.7);
            margin-left:130px;
          }
          &:nth-child(16) {
            .animation(slide, 10s, 7.5s, ease-in, infinite);
            margin-left:40px;
          }
          &:nth-child(17) {
            .animation(slide, 10s, 8s, ease-in, infinite);
            margin-left:-50px;
          }
          &:nth-child(18) {
            .animation(slide, 10s, 8.5s, ease-in, infinite);
            .scale(0.5);
            margin-left:60px;
          }
          &:nth-child(19) {
            .animation(slide, 10s, 9s, ease-in, infinite);
            margin-left:170px;
          }
          &:nth-child(20) {
            .animation(slide, 10s, 9.5s, ease-in, infinite);
            margin-left:80px;
          }
      }
    }
  }


// =============================================================================
// SLIMSCROLL
// =============================================================================

  .slimScrollBar {
    background-color: @colorBlue2;
    margin-right: 2px;
    border-radius: 8px;

    &:hover,
    &.ui-draggable-dragging {
      background-color: @colorBlue1;
    }
  }

  .slimScrollRail {
    background-color: none;
  }