html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
input,
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.margin1x {
  margin: 10px;
}
.margin2x {
  margin: 20px;
}
.marginTop1x {
  margin-top: 10px;
}
.padding1x {
  padding: 10px;
}
.padding2x {
  padding: 20px;
}
.padding3x {
  padding: 40px;
}
.paddingRight2x {
  padding-right: 20px;
}
.paddingRight3x {
  padding-right: 40px;
}
.text-shadow {
  text-shadow: 1px 1px #fff;
}
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.animated {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
.clearBoth {
  clear: both;
}
.rotateY {
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
.rotateYreverse {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.rotateY90reverse {
  -webkit-transform: rotatey(-90deg);
  -moz-transform: rotatey(-90deg);
  -o-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
}
.tip {
  color: #000;
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.5em;
  height: 16px;
  width: 0px;
  overflow: hidden;
  background: url(../img/info.png) top left no-repeat transparent;
  padding-left: 20px;
  border: 1px solid transparent;
}
.protected {
  color: #BE1E2D;
  font-style: italic;
}
.infoVerified {
  background: url(../img/fb_icon.png) left 1px no-repeat;
  padding-left: 14px;
}
#content {
  -webkit-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -moz-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -ms-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -o-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  position: absolute;
  left: 85px;
  top: 0;
  right: 200px;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  float: left;
}
#content > div:first-child {
  position: relative;
  height: 100%;
  width: 100%;
}
#content > div:first-child:after {
  content: "";
  display: table;
  clear: both;
}
#sidebar {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -ms-transition: all 0.6s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -o-transition: all 0.6s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  transition: all 0.6s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0px;
  z-index: 10;
}
#sidebar.visible {
  -webkit-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -moz-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -ms-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -o-transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  transition: all 1.2s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  width: 200px;
}
#sidebar .sidebarTabs {
  background: #fff;
  width: 100%;
}
#sidebar .sidebarTabs .sidebarTabTitle {
  background: #3dbcdf;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 0.8rem 1rem;
}
.column {
  vertical-align: top;
  text-align: left;
  padding: 0 40px 0 40px;
}
.sidebar {
  display: block;
  position: relative;
  width: 20%;
  z-index: 2;
  height: 100%;
  color: #00364d;
  padding: 4rem 2rem;
  border-right: 1px solid #e0e0e0;
  float: left;
}
.sidebar section {
  clear: both;
  padding: 0 0 20px;
}
.sidebar section .tip {
  color: #007da6;
  font-size: 1.2em;
}
.mainContent {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: auto;
  display: block;
  padding: 4.7rem 4rem;
  float: left;
}
.mainContent section {
  clear: both;
  margin-bottom: 2rem;
}
.userPreview {
  -moz-box-shadow: 0 1px 1px #888888;
  -webkit-box-shadow: 0 1px 1px #888888;
  -ms-box-shadow: 0 1px 1px #888888;
  -o-box-shadow: 0 1px 1px #888888;
  box-shadow: 0 1px 1px #888888;
  border: 1px solid #ddd;
  padding: 1rem;
  position: relative;
  background: #eee;
  float: left;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0 10px 8px 0;
  cursor: pointer;
}
.userPreview .onlineStatus {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 10px;
}
.userPreview .onlineStatus.isOnline {
  background: green;
}
.userPreview .onlineStatus.isOffline {
  background: red;
}
.userPreview .userPreviewNickname {
  font-size: 11px;
  margin: 5px 0 0 0;
  color: #555;
}
.userPreview:hover {
  background: #ddd;
  text-decoration: underline;
}
.fancybox-next {
  width: 60%;
}
.fancybox-prev {
  width: 40%;
}
.slimScrollBar {
  background-color: #ddd;
}
.slimScrollBar:hover,
.slimScrollBar.ui-draggable-dragging {
  background-color: #999;
}
.slimScrollRail {
  background-color: #eee;
}
#pageFlipPlaceholder {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
#pageFlipPlaceholder .pageApartial,
#pageFlipPlaceholder .pageBpartial {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
#pageFlipPlaceholder .pageApartial {
  left: -50%;
  z-index: 3;
}
#pageFlipPlaceholder .pageApartial .pageApartialInner {
  margin-left: 50%;
}
#pageFlipPlaceholder .pageBpartial {
  left: 50%;
  z-index: 1;
}
#pageFlipPlaceholder .pageBpartial .pageBpartialInner {
  margin-left: -50%;
}
#pageFlipPlaceholder .pageFlip {
  -webkit-transition: all 1.5s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -moz-transition: all 1.5s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -ms-transition: all 1.5s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -o-transition: all 1.5s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  transition: all 1.5s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotatey(0deg);
  -moz-transform: rotatey(0deg);
  -o-transform: rotatey(0deg);
  transform: rotatey(0deg);
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 50%;
}
#pageFlipPlaceholder .pageFlip.pageFlipped {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
#pageFlipPlaceholder .pageFlip .pageAcontainer {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -moz-transition: all 1s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -ms-transition: all 1s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -o-transition: all 1s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  transition: all 1s cubic-bezier(0.77, 0.12, 0.12, 0.74);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#pageFlipPlaceholder .pageFlip .pageAcontainer .page {
  position: absolute;
  overflow: hidden;
  height: 100%;
}
#pageFlipPlaceholder .pageFlip .pageBcontainer {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  background-color: #fff;
  width: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#pageFlipPlaceholder .pageFlip .pageBcontainer .page {
  position: absolute;
  overflow: hidden;
  height: 100%;
}
@keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-moz-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-ms-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-o-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
button,
.button {
  background: #3dbcdf;
  padding: 0.5rem 1rem;
  border: 0 none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
  display: inline-block;
  opacity: 1;
  text-align: center;
  margin: 0;
  font-family: "Segoe WP", "Segoe UI", helvetica, arial, sans-serif;
}
button:hover,
.button:hover {
  text-decoration: underline;
  background: #3dbcdf;
}
label {
  margin: 0 1rem 0 0;
  position: relative;
  overflow: hidden;
  color: #666;
}
label:hover {
  color: #222;
}
label:hover input[type="checkbox"] {
  border: 3px solid #aaa;
}
label span {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
  padding-left: 3.5rem;
}
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid #ccc;
  margin: 0;
  padding: 0;
  background: #fff;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}
input[type="checkbox"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "";
  color: #ccc;
}
input[type="checkbox"]:checked {
  border: 3px solid #74b843 !important;
}
input[type="checkbox"]:checked:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f00c";
  color: #74b843;
}
input[type="text"] {
  border: 3px solid #ccc;
  padding: 0.5rem;
  font-size: 1.6rem;
  margin: 0;
  display: inline-block;
}
.textArea {
  overflow-y: auto;
  word-wrap: break-word;
  background: #fafafa;
  border: 3px solid #ccc;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-weight: 300;
  overflow: hidden;
  height: 100%;
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
p {
  margin: 0em 0 1rem;
  font-size: 1.4rem;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: #007da6;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #007da6;
}
h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
#mosaic {
  position: fixed;
  top: 70px;
  bottom: 30px;
  left: 0;
  right: 0;
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
/* COLOURS
 * Blue (light to dark)
 * #3BBDE2
 * #007CA6
 * #00344C
 *
 * Red
 * #DF2027
 * #BE1D2C
 */
/********************************
 * STYLES
 ********************************/
body {
  background: #007ca5;
  background: -ms-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -moz-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -webkit-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -o-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: linear-gradient(#55bee5 0%, #007ca5 100%);
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bubbleTexture {
  background: url(../img/texture.png) top left repeat transparent;
  z-index: 2;
}
.staticBubbles {
  background: url(../img/bubbles.png) left bottom no-repeat transparent;
  z-index: 1;
}
.bubbleTexture,
.staticBubbles {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
#container {
  margin: 0 auto;
  padding: 20px;
  padding-left: 30px;
  overflow: hidden;
}
/********************************
 * ARTICLES
 ********************************/
article.item {
  position: relative;
  float: left;
  width: 230px;
  height: 335px;
  margin: 0px 30px 25px 0px;
  padding: 10px 20px 20px 20px;
  background: #fff;
  border: 5px solid white;
  overflow: hidden;
  color: #333;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
article.item:first-child {
  margin-left: 1200px!important;
}
article.item:hover {
  cursor: pointer;
  border: 5px solid #DDD;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
article.item footer {
  position: absolute;
  width: 100%;
  height: 105px;
  bottom: 0;
  left: 0;
  background: url(../../mosaic/img/fade-white.png) repeat-x;
  z-index: 3;
}
article.item footer img {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 3px;
}
article.item footer i {
  color: #BE1D2C;
  font-size: 16px;
}
article.item footer i span {
  color: #333;
}
article.item h1,
#articleFullView h1,
.storyForm h1 {
  font-family: "liberation-serif", serif;
  font-size: 2.4em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.2em;
}
article.item cite,
#articleFullView cite {
  font-size: 1.2em;
  color: #666666;
  margin-bottom: 0.2em;
}
article.item cite > span,
#articleFullView cite > span {
  background: #EEE;
  padding: 2px 7px;
  border-radius: 9px;
  font-style: normal;
}
article.item span p {
  height: 275px;
  overflow-y: hidden;
}
article.item span p,
#articleFullView span p {
  font-size: 1.3em;
  padding: 10px 0;
  display: block;
  margin-top: 0.2em;
  line-height: 1.5em;
}
.commentTooltip {
  position: fixed;
  width: 272px;
  margin-top: 13px;
  padding: 0 20px 5px;
  background: #fff;
  color: #333;
  font-size: 1.5em;
  border: 5px solid #fff;
  border-top: none;
  box-shadow: 0 5px 10px -5px #444444;
  z-index: 2;
  display: none;
}
.commentTooltip > header {
  margin-bottom: 10px;
  padding: 5px 10px 0px 0px;
  border-bottom: 5px solid #BE1D2C;
  font-family: liberation-serif;
  font-weight: 700;
  font-style: italic;
}
.commentTooltip > header > h1 {
  font-size: 1.3em;
}
.commentTooltip > section > p {
  padding-bottom: 10px;
  padding-top: 0;
}
#formWrapper {
  float: left;
  position: relative;
  padding: 10px;
  background: white;
  z-index: 4;
}
.storyForm {
  position: relative;
  z-index: 1;
  float: left;
  width: 300px;
  height: 295px;
  margin: 0px;
  padding: 15px;
  background: #FFFFFF;
  border: 15px solid #BE1D2C;
  box-shadow: 15px 0px 40px -10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm button {
  position: absolute;
  bottom: 0px;
  left: 25px;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm button:hover {
  box-shadow: 0 5px 16px -7px #000000 inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm .submitLoader {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 12px;
}
.storyForm h1 {
  font-family: "liberation-serif", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  margin-bottom: 0.4em;
}
.sendingStory {
  border-color: #555!important;
}
.sendingStory > button {
  background: #555!important;
}
.commentForm {
  margin: -10px 0 -20px;
}
.commentForm > form {
  height: 80px;
}
.commentForm h1 {
  padding-bottom: 10px;
}
.commentForm textarea {
  height: 80px;
  padding-top: 0;
  font-size: 1.3em;
  resize: none;
}
.commentForm button {
  margin: 20px 0;
}
.doubleX {
  width: 540px!important;
}
/********************************
 * TEXT EDITOR
 ********************************/
.storyTitle {
  width: 100%;
  padding: 5px 0 10px;
  clear: both;
  height: 20px;
  max-height: 20px;
  border: none;
  border-bottom: 1px solid #eee;
  display: block;
  outline: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6em;
}
.storyText,
.commentText {
  width: 100%;
  height: 130px;
  padding: 10px 0;
  clear: both;
  display: block;
  border: none;
  outline: none;
  resize: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6em;
}
.commentText {
  height: 80px;
}
form {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  clear: both;
  height: 180px;
  max-height: 180px;
  display: block;
  box-shadow: 0px 2px 4px #ddd inset;
  background: rgba(255, 255, 255, 0.7);
}
.storyNickname {
  margin: 0 0 0 10px;
  padding: 0 0.5em;
  width: 13em;
  height: 2em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px #ddd inset;
}
/********************************
 * ARTICLE - FULL VIEW
 ********************************/
#articleFullView {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
}
#curtain {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 16px;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}
#articleFullView > article > .closeStory {
  position: absolute;
  right: -1px;
  top: -1px;
  background: #333;
  color: #fff;
  font-family: "georgia", "times new roman", serif;
  font-style: italic;
  font-size: 1.9em;
  font-weight: bold;
  padding: 4px 20px 6px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}
.fullViewSeparator {
  height: 1px;
  background: #BE1D2C;
  margin: 15px 0 20px;
}
#articleFullView > article > .widget {
  position: absolute;
  right: -68px;
  top: 0;
  width: 48px;
  margin-top: 32px;
  background: #BE1D2C;
  color: #fff;
  font-family: "georgia", "times new roman", serif;
  font-style: italic;
  font-size: 1.9em;
  font-weight: bold;
  padding: 0 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 13px 0 12px -12px #221919 inset;
  cursor: pointer;
}
#articleFullView > article {
  padding: 35px;
  background: #fff;
  height: auto;
  left: 50%;
  position: absolute;
  top: 2em;
  width: 500px;
  z-index: 999;
  margin-left: -250px;
  border: 20px solid rgba(0, 0, 0, 0.54);
}
#articleFullView > article > .fullTitle {
  font-size: 3em;
}
#articleFullView > article > span > p {
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 1.65em;
  font-family: "liberation-serif", serif;
}
/********************************
 * WIDGETS
 ********************************/
.widget-comment {
  color: #555;
  margin-top: 75px;
  margin-left: 20px;
  font-size: 16px;
  font-family: liberation-serif;
  font-style: italic;
  font-weight: bold;
}
/********************************
 * DISQUS OVERRIDES
 ********************************/
#dsq-footer {
  display: none;
}
