html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.margin1x {
  margin: 10px;
}
.margin2x {
  margin: 20px;
}
.marginTop1x {
  margin-top: 10px;
}
.padding1x {
  padding: 10px;
}
.padding2x {
  padding: 20px;
}
.padding3x {
  padding: 40px;
}
.paddingRight2x {
  padding-right: 20px;
}
.paddingRight3x {
  padding-right: 40px;
}
.text-shadow {
  text-shadow: 1px 1px #fff;
}
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.animated {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
.clearBoth {
  clear: both;
}
.rotateY {
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
.tip {
  color: #000;
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.5em;
  height: 16px;
  width: 0px;
  overflow: hidden;
  background: url(../img/info.png) top left no-repeat transparent;
  padding-left: 20px;
  border: 1px solid transparent;
}
.protected {
  color: #BE1E2D;
  font-style: italic;
}
.infoVerified {
  background: url(../img/fb_icon.png) center left no-repeat;
  padding-left: 14px;
}
#content {
  background: url(../img/bubbleHeaderBg.png) right 0px no-repeat;
  position: relative;
  padding-top: 90px;
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  height: 100%;
  width: 100%;
}
#content > div:first-child {
  position: relative;
  height: 100%;
  width: 100%;
}
#content.home {
  padding-top: 0;
}
.column {
  vertical-align: top;
  text-align: left;
  padding: 0 40px 0 40px;
  position: absolute;
  top: 0;
  display: none;
}
.column h1 {
  white-space: nowrap;
  padding-bottom: 1em;
}
.sidebar {
  -moz-box-shadow: 0 4px 8px -3px #333333;
  -webkit-box-shadow: 0 4px 8px -3px #333333;
  -ms-box-shadow: 0 4px 8px -3px #333333;
  -o-box-shadow: 0 4px 8px -3px #333333;
  box-shadow: 0 4px 8px -3px #333333;
  background: #eeeeee;
  background: -ms-linear-gradient(#ffffff 0%, #eeeeee 100%);
  background: -moz-linear-gradient(#ffffff 0%, #eeeeee 100%);
  background: -webkit-linear-gradient(#ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(#ffffff 0%, #eeeeee 100%);
  background: linear-gradient(#ffffff 0%, #eeeeee 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  position: fixed;
  left: 20px;
  top: 90px;
  width: 280px;
  z-index: 2;
  height: auto;
  color: #00364d;
  padding: 0;
  border: 1px solid #ddd;
}
.sidebar section {
  clear: both;
  padding: 20px 20px 0;
}
.sidebar section:last-child {
  padding: 20px;
}
.sidebar section .tip {
  color: #007da6;
  font-size: 1.2em;
}
.mainContent {
  position: fixed;
  left: 0px;
  top: 90px;
  bottom: 30px;
  right: 0;
  padding-left: 320px;
  overflow: auto;
  height: auto;
  display: block;
}
.userPreview {
  -moz-box-shadow: 0 1px 1px #888888;
  -webkit-box-shadow: 0 1px 1px #888888;
  -ms-box-shadow: 0 1px 1px #888888;
  -o-box-shadow: 0 1px 1px #888888;
  box-shadow: 0 1px 1px #888888;
  border: 1px solid #ddd;
  padding: 1em;
  position: relative;
  background: #fff;
  float: left;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0 10px 8px 0;
  cursor: pointer;
}
.userPreview .userPreviewNickname {
  font-size: 11px;
  margin: 5px 0 0 0;
  color: #555;
}
.userPreview:hover {
  border: 1px solid #999;
  text-decoration: underline;
}
.fancybox-next {
  width: 60%;
}
.fancybox-prev {
  width: 40%;
}
.scrollbarH {
  position: absolute;
  z-index: 100;
  height: 5px;
  bottom: 1px;
  left: 0px;
  right: 0px;
  background: #ddd;
}
.scrollbarH > div {
  position: absolute;
  z-index: 100;
  height: 100%;
  background: #666;
}
@keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-moz-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-ms-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
@-o-keyframes slide {
  0% {
    opacity: 0;
    left: 20px;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 650px;
    opacity: 0;
  }
}
button,
.button {
  background: #be1e2d;
  padding: 0.5em 1em;
  border: 0 none;
  color: white;
  font-size: 1.3em;
  line-height: 1.5em;
  cursor: pointer;
  display: block;
  display: inline-block;
  opacity: 1;
  text-align: center;
  margin: 0;
}
button:hover,
.button:hover {
  background: #3dbcdf;
  text-decoration: underline;
}
label {
  /*text-shadow: 1px 1px #fff;
    color: @color1;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
    display: inline-block;*/

}
.textArea {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
  -ms-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
  overflow-y: auto;
  word-wrap: break-word;
  background: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  font-size: 1.3em;
  line-height: 1.2em;
}
/* Checkbox */
input[type="checkbox"] {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)), -webkit-linear-gradient(left, #ed1c24 50%, #74b843 50%);
  background-size: 100% 100%, 200% 100%;
  background-position: 0 0, 5px 0;
  border-radius: 20px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 14px;
  padding-right: 10px;
  position: relative;
  width: 30px;
  -webkit-appearance: none;
  -webkit-transition: .15s;
}
input[type="checkbox"]:after {
  background-color: #fefefe;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 25px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: relative;
  top: -1px;
  width: 16px;
}
input[type="checkbox"]:checked {
  background-position: 0 0, 30px 0;
  padding-left: 15px;
  padding-right: 0;
}
input[type="checkbox"]:hover:before {
  background: #ed1c24;
  border-radius: 10px;
  color: #fff;
  content: '✘';
  font: 10px/20px sans-serif;
  height: 16px;
  left: -20px;
  bottom: -1px;
  letter-spacing: 0px;
  line-height: 1.7;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16px;
  z-index: 100;
}
input[type="checkbox"]:checked:hover:before {
  background: #74b843;
  content: '✔';
}
html {
  height: 100%;
}
body {
  background: #ffffff;
  background: -ms-linear-gradient(#dddddd 0%, #ffffff 10px);
  background: -moz-linear-gradient(#dddddd 0%, #ffffff 10px);
  background: -webkit-linear-gradient(#dddddd 0%, #ffffff 10px);
  background: -o-linear-gradient(#dddddd 0%, #ffffff 10px);
  background: linear-gradient(#dddddd 0%, #ffffff 10px);
  background-repeat: repeat-x;
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}
a {
  text-decoration: none;
}
p {
  margin: 0em 0 1em;
}
h1 {
  font-size: 2.4em;
  font-weight: 300;
  padding-bottom: 0.5em;
  color: #007da6;
}
h2 {
  font-size: 2.0em;
  color: #3dbcdf;
}
h3 {
  font-size: 1.4em;
}
#mosaic {
  position: fixed;
  top: 70px;
  bottom: 30px;
  left: 0;
  right: 0;
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
/* COLOURS
 * Blue (light to dark)
 * #3BBDE2
 * #007CA6
 * #00344C
 *
 * Red
 * #DF2027
 * #BE1D2C
 */
/********************************
 * STYLES
 ********************************/
body {
  background: #007ca5;
  background: -ms-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -moz-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -webkit-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: -o-linear-gradient(#55bee5 0%, #007ca5 100%);
  background: linear-gradient(#55bee5 0%, #007ca5 100%);
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bubbleTexture {
  background: url(../img/texture.png) top left repeat transparent;
  z-index: 2;
}
.staticBubbles {
  background: url(../img/bubbles.png) left bottom no-repeat transparent;
  z-index: 1;
}
.bubbleTexture,
.staticBubbles {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
#container {
  margin: 0 auto;
  padding: 20px;
  padding-left: 30px;
  overflow: hidden;
}
/********************************
 * ARTICLES
 ********************************/
article.item {
  position: relative;
  float: left;
  width: 230px;
  height: 335px;
  margin: 0px 30px 25px 0px;
  padding: 10px 20px 20px 20px;
  background: #fff;
  border: 5px solid white;
  overflow: hidden;
  color: #333;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
article.item:first-child {
  margin-left: 1200px!important;
}
article.item:hover {
  cursor: pointer;
  border: 5px solid #DDD;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
article.item footer {
  position: absolute;
  width: 100%;
  height: 105px;
  bottom: 0;
  left: 0;
  background: url(../../mosaic/img/fade-white.png) repeat-x;
  z-index: 3;
}
article.item footer img {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 3px;
}
article.item footer i {
  color: #BE1D2C;
  font-size: 16px;
}
article.item footer i span {
  color: #333;
}
article.item h1,
#articleFullView h1,
.storyForm h1 {
  font-family: "liberation-serif", serif;
  font-size: 2.4em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.2em;
}
article.item cite,
#articleFullView cite {
  font-size: 1.2em;
  color: #666666;
  margin-bottom: 0.2em;
}
article.item cite > span,
#articleFullView cite > span {
  background: #EEE;
  padding: 2px 7px;
  border-radius: 9px;
  font-style: normal;
}
article.item span p {
  height: 275px;
  overflow-y: hidden;
}
article.item span p,
#articleFullView span p {
  font-size: 1.3em;
  padding: 10px 0;
  display: block;
  margin-top: 0.2em;
  line-height: 1.5em;
}
.commentTooltip {
  position: fixed;
  width: 272px;
  margin-top: 13px;
  padding: 0 20px 5px;
  background: #fff;
  color: #333;
  font-size: 1.5em;
  border: 5px solid #fff;
  border-top: none;
  box-shadow: 0 5px 10px -5px #444444;
  z-index: 2;
  display: none;
}
.commentTooltip > header {
  margin-bottom: 10px;
  padding: 5px 10px 0px 0px;
  border-bottom: 5px solid #BE1D2C;
  font-family: liberation-serif;
  font-weight: 700;
  font-style: italic;
}
.commentTooltip > header > h1 {
  font-size: 1.3em;
}
.commentTooltip > section > p {
  padding-bottom: 10px;
  padding-top: 0;
}
#formWrapper {
  float: left;
  position: relative;
  padding: 10px;
  background: white;
  z-index: 4;
}
.storyForm {
  position: relative;
  z-index: 1;
  float: left;
  width: 300px;
  height: 295px;
  margin: 0px;
  padding: 15px;
  background: #FFFFFF;
  border: 15px solid #BE1D2C;
  box-shadow: 15px 0px 40px -10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm button {
  position: absolute;
  bottom: 0px;
  left: 25px;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm button:hover {
  box-shadow: 0 5px 16px -7px #000000 inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.storyForm .submitLoader {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 12px;
}
.storyForm h1 {
  font-family: "liberation-serif", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  margin-bottom: 0.4em;
}
.sendingStory {
  border-color: #555!important;
}
.sendingStory > button {
  background: #555!important;
}
.commentForm {
  margin: -10px 0 -20px;
}
.commentForm > form {
  height: 80px;
}
.commentForm h1 {
  padding-bottom: 10px;
}
.commentForm textarea {
  height: 80px;
  padding-top: 0;
  font-size: 1.3em;
  resize: none;
}
.commentForm button {
  margin: 20px 0;
}
.doubleX {
  width: 540px!important;
}
/********************************
 * TEXT EDITOR
 ********************************/
.storyTitle {
  width: 100%;
  padding: 5px 0 10px;
  clear: both;
  height: 20px;
  max-height: 20px;
  border: none;
  border-bottom: 1px solid #eee;
  display: block;
  outline: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6em;
}
.storyText,
.commentText {
  width: 100%;
  height: 130px;
  padding: 10px 0;
  clear: both;
  display: block;
  border: none;
  outline: none;
  resize: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6em;
}
.commentText {
  height: 80px;
}
form {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  clear: both;
  height: 180px;
  max-height: 180px;
  display: block;
  box-shadow: 0px 2px 4px #ddd inset;
  background: rgba(255, 255, 255, 0.7);
}
.storyNickname {
  margin: 0 0 0 10px;
  padding: 0 0.5em;
  width: 13em;
  height: 2em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px #ddd inset;
}
/********************************
 * ARTICLE - FULL VIEW
 ********************************/
#articleFullView {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
}
#curtain {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 16px;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}
#articleFullView > article > .closeStory {
  position: absolute;
  right: -1px;
  top: -1px;
  background: #333;
  color: #fff;
  font-family: "georgia", "times new roman", serif;
  font-style: italic;
  font-size: 1.9em;
  font-weight: bold;
  padding: 4px 20px 6px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}
.fullViewSeparator {
  height: 1px;
  background: #BE1D2C;
  margin: 15px 0 20px;
}
#articleFullView > article > .widget {
  position: absolute;
  right: -68px;
  top: 0;
  width: 48px;
  margin-top: 32px;
  background: #BE1D2C;
  color: #fff;
  font-family: "georgia", "times new roman", serif;
  font-style: italic;
  font-size: 1.9em;
  font-weight: bold;
  padding: 0 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 13px 0 12px -12px #221919 inset;
  cursor: pointer;
}
#articleFullView > article {
  padding: 35px;
  background: #fff;
  height: auto;
  left: 50%;
  position: absolute;
  top: 2em;
  width: 500px;
  z-index: 999;
  margin-left: -250px;
  border: 20px solid rgba(0, 0, 0, 0.54);
}
#articleFullView > article > .fullTitle {
  font-size: 3em;
}
#articleFullView > article > span > p {
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 1.65em;
  font-family: "liberation-serif", serif;
}
/********************************
 * WIDGETS
 ********************************/
.widget-comment {
  color: #555;
  margin-top: 75px;
  margin-left: 20px;
  font-size: 16px;
  font-family: liberation-serif;
  font-style: italic;
  font-weight: bold;
}
/********************************
 * DISQUS OVERRIDES
 ********************************/
#dsq-footer {
  display: none;
}
