// =============================================================================
// NAVIGATION + HEADER
// =============================================================================

  nav {
    .box-shadow(-10px, 0, 20px -2px, rgba(0, 0, 0, .1) inset);
    border-right: 1px solid #ddd;
    width: 80px;
    height: 100%;
    font-size: 1.5em;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #fafafa;
    
    #instasodaLogo {
      background: url(../img/instasoda_logo.png) center center no-repeat;
      height: 4rem;
      margin: 0;
      padding: 0;
      display: block;
    }

    #navOnlineUsers {
      font-size: 0.8em;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 10px;
      color: #666;
      font-weight: 300;
    }
        
    a {
      display: block;
      width: 80px !important;
      padding: 0.1em 0em 0.4em;
      color: #777;
      cursor: pointer;
      font-weight: 300;
      font-size: 1.5em;
      text-align: center;

      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;

      &:before {
        width: 100%;
        text-align: center;
        color: #ccc;
        line-height: 0em;
      }

      &:hover {
        color: @color1;

        &:before {
          color: @color1;
        }
      }

      &.current {
        .box-shadow(-10px, 10px, 20px -2px, rgba(0, 0, 0, .1));
        background: #fff;
        color: @color1;
        margin-left: 5px;
        width: 75px !important;

        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        &:before {
          color: @color1;
        }
      }

      .navItemTitle {
        font-size: 0.5em;
      }
    }
  }