@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-5180px);
  }
}

@-moz-keyframes left {
  0% {
    -moz-transform: translateX(0);
  }

  100% {
    -moz-transform: translateX(-5180px);
  }
}

@-ms-keyframes left {
  0% {
    left: 0;
  }

  100% {
    left: -5180px;
  }
}

@-o-keyframes left {
  0% {
    left: 0;
  }

  100% {
    left: -5180px;
  }
}

@keyframes left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-5180px);
  }
}

.view-more-people {
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #74b843;
}
.view-more-people .icon {
  padding: 0.6rem;
  font-size: 1.8rem;
  border-radius: 50px;
  background: #74b843;
  color: #fff;
  margin-right: 0.5rem;
}
.view-more-people:hover {
  color: #527779;
}
.view-more-people:hover .icon {
  background: #527779;
}

.search-filters-row {
  background: #222;
  margin-top: 1rem;
  color: #eee;
}
.search-filters-row.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 8rem;
  z-index: 2;
  margin-top: 0;
  width: auto;
  float: none;
  height: 8rem;
}
.search-filters-row.sticky:hover {
  height: auto;
}
.search-filters-row #age-num {
  margin: 2rem 0 1rem 0;
  display: block;
}
.search-filters-row #age-range {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 2rem;
  background: #888;
  border: 0 none;
  padding: 1px 0;
  box-shadow: 0 5px 15px 0 #404040 inset;
}
.search-filters-row #age-range .ui-slider-range {
  border: 0 none;
  background: #74b843;
}
.search-filters-row #age-range .ui-slider-handle {
  border-radius: 25px;
  box-shadow: inset 0 1px 1px 1px white, inset 0 -1px 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  border: 0 none;
  cursor: ew-resize;
  margin-top: 1px;
  outline: none;
  background-color: #eee;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
.search-filters-row label {
  color: #96d9ee;
}
.search-filters-row label:hover {
  color: #3dbcdf;
}
.search-filters-row .search-likes-row {
  margin-top: 2rem;
}
.search-filters-row .search-likes-row h3 {
  color: #74b843;
  margin: 0;
  font-size: 3rem;
  margin-right: 1rem;
}
.search-filters-row .search-likes-row .add-likes-button {
  line-height: 3.5rem;
}
.search-filters-row .search-likes-row .add-likes-button .icon {
  margin-right: 0.5rem;
}
.search-filters-row .search-likes-row .interests-container {
  clear: both;
}
.search-filters-row .search-likes-row .tip {
  font-size: 1.4rem;
  color: #666;
}
.search-filters-row .search-buttons-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.search-filters-row .search-buttons-row #do-search-random {
  display: none;
}
