// =============================================================================
// PHOTOS
// =============================================================================
  
  #photoSection {  

    #userPhotos {
      display: block;
      overflow: hidden;
      width: 100%;
      
      .default {        
        .photoControls {
          background: #eee !important;
        }
      }
    }
  }
  
  .photo {
    .box-shadow(0, 4px, 8px -3px, #888);
    background: #fff;
    float: left;
    overflow: hidden;
    display: block;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 20px 20px 0;
    cursor: pointer;
    position: relative;
    
    .photoSrc {
      min-height: 150px;
      min-width: 150px;
      max-width: 300px;
    }
    
    .photoControls {
      display: none;
      cursor: default;
      
      span {
        text-decoration: underline;
        height: 21px;
        line-height: 20px;
      }
      
      .photoIsDefault {
        text-decoration: none;
        color: #999;
        background: url(../img/star.png) left bottom no-repeat;
        padding-left: 25px;
      }
      
      .photoMakeDefault {
        text-decoration: none;
        background: url(../img/star.png) left top no-repeat;
        padding-left: 25px;
        cursor: pointer;
        
        &:hover {
          background: url(../img/star.png) left bottom no-repeat;
          text-decoration: underline;
        }
      }
      
      .photoDelete {
        width: 15px;
        background: url(../img/delete.png) right top no-repeat;
        cursor: pointer;
        
        &:hover {
          background: url(../img/delete.png) right bottom no-repeat;
        }
      }
    }
    
    &:hover {      
      .photoControls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 10px;
        background: #fff;
        background: rgba(255, 255, 255, .95);
        color: #333;
      }
    }
  }
  
  .noControls {
    .photo {
      .photoControls {
        display: none;
      }
    }
    .default {
      background: #fff !important;
    }
  }


// =============================================================================
// PHOTO UPLOADER
// =============================================================================  
  
  #uploadPhoto {
    float:left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;

    #uploadWidget {
      width: 150px;
      height: 153px;
      
      .qq-uploader {
        position:relative;
        width: 100%;
      }
      
      .qq-upload-drop-area {
        .border-radius(8px);
        background: url(../img/uploadPhotoBg.png) center 30px no-repeat #fff;
        display: block !important;
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0px;
        height: 112px;
        z-index: 2;
        text-align:center;
        border: 1px dashed #ccc;
      }
      
      .qq-upload-drop-area-active {
        background: url(../img/uploadPhotoBg.png) center bottom no-repeat #BE1E2C;
      }
      
      .working {
        background: url(../img/loading.gif) center center no-repeat transparent;
      }
      
      .qq-upload-list {
        display: none;
        margin: 100px 35px 0;
        padding: 0;
        list-style: disc;
        
        li {
          margin: 0;
          padding: 0;
          line-height: 15px;
          font-size: 12px;
        }
      }

      .qq-upload-button {
        width: 124px;
      }
      
      .qq-upload-file,
      .qq-upload-spinner,
      .qq-upload-size,
      .qq-upload-cancel,
      .qq-upload-failed-text {
        margin-right: 7px;
      }
      
      .qq-upload-file {}
      
      .qq-upload-spinner {
        display: inline-block;
        background: url("../img/loading.gif");
        width: 15px;
        height: 15px;
        vertical-align: text-bottom;
      }
      
      .qq-upload-size,
      .qq-upload-cancel {
        font-size: 11px;
      }
      
      .qq-upload-failed-text {
        display:none;
      }
      
      .qq-upload-fail .qq-upload-failed-text {
        display:inline;
      }
    }
  }