// =============================================================================
// MY PROFILE
// =============================================================================

  #connectOptions {
    overflow: hidden;
    clear: both;
  }
  
  #basicInfo {
    .perspective(1000);

    .flipContainer {
      .transform-style(preserve-3d);
      .transition(all 0.4s ease-in-out);
      width: 100%;
      height: 100%;
      position: relative;
    }

    #instasodaProfile {
      .backface-visibility(hidden);
      .transform-style(preserve-3d);
      position: absolute;
      overflow: hidden;
    }

    #instasodaOptions {
      .transform(rotateY(180deg));
      .backface-visibility(hidden);
      .box-sizing(border-box);
      .transform-style(preserve-3d);

      .optionsName,
      .optionsFind,
      .optionsMeet {
        padding: 0 0 2em 0;
      }

      .optionsButtons {
        padding: 20px 0px 10px;
        position: relative;

        #saveProfileButton {
          .backface-visibility(hidden);
          z-index: 2;
          position: relative;
        }

        #working {
          background: url(../img/loading.gif) center center no-repeat transparent;
          width: 130px;
          height: 50px;
          position: absolute;
          top: 15px;
          left: 0;
          z-index: 1;
        }
      }
    }
  }

  .optionsAbout {
    #aboutMe {
      display: none;
    }
  }


// =============================================================================
// USER PROFILES
// =============================================================================

  .defaultPhoto {
    max-height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &> img {
      width: 100%;
      border: 0 none;
    }
  }

  .basicInfo {
    display: block;
    padding: 1rem 0;
    line-height: 1.3em;
    overflow: hidden;

    .icon {
      font-size: 1.2rem;
      float: left;
      position: absolute;
      margin-top: 0.5rem;
    }
    
    .infoTitle {
      display: block;
      color: #666;
      margin-left: 2rem;
      padding-bottom: 0.1em;
    }
    
    .infoData {
      font-weight: 700;
      font-size: 1.2em;
      clear: both;
      display: block;
      margin-left: 2rem;
      color: @colorBlue2;
    }
    
    li {
      float: left;
      margin: 0em 0em 1rem 0;
      width: 50%;
    }
  }

// =============================================================================
// SETTINGS
// =============================================================================

  .settings {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
    background: #fff;
    display: none;
  }

  .settingContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;

    .setting {
      position: absolute;
      top: 30%;
      width: 100%;

      .settingTitle {
        font-size: 30px;
        line-height: 1.5em;
        text-shadow: 1px 1px @colorBlue3;

        strong {
          font-weight: 500;
        }
      }

      .settingContent {
        padding-top: 20px;
      }

      .settingTip {
        font-size: 16px;
        padding-top: 20px;
        color: #666;
      }
    }
  }

  .settingUsername {
    z-index: 2;
    background: @colorBlue4;
  }

  .settingFindType {
    z-index: 1;
    background: @colorBlue5;
  }

  .settingGenderPrefs {
    z-index: 1;
    background: @colorBlue5;
  }

  .settingDone {
    z-index: 1;
    background: @colorBlue6;

    .setting {
      .settingTip {
        font-size: 20px;
        max-width: 550px;
        margin: 0 auto;
        padding-top: 0px;
        color: #666;
        line-height: 1.3em;
      }
    }
  }